<link rel="canonical" href="https://{{ ENV.SITE_DOMAIN }}" />
<link rel="manifest" href="/manifest.php" />
<link rel="search" type="application/opensearchdescription+xml" title="{{ ENV.SITE_NAME }}"
    href="{{ ENV.STATIC_SERVER }}/opensearch.xml" />
<link rel="shortcut icon" href="{{ ENV.STATIC_SERVER }}/common/icon.png" />

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="authkey" content="{{ LoggedUser.AuthKey }}" />
<meta name="description" content="{{ ENV.DESCRIPTION }}" />
<meta name="language" content="en-US" />
{# Default "index, follow" #}
<meta name="robots" content="none" />
<meta name="userid" content="{{ LoggedUser.ID }}" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

{# https://developers.facebook.com/tools/debug/ #}
<meta property="og:description" content="{{ ENV.DESCRIPTION }}" />
<meta property="og:image" content="{{ ENV.STATIC_SERVER }}/common/icon.png" />
<meta property="og:site_name" content="{{ ENV.SITE_NAME }}" />
<meta property="og:title" content="{{ title }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://{{ ENV.SITE_DOMAIN }}" />