<?php

# ...

// Tracker urls to be added to torrent files à la http://bittorrent.org/beps/bep_0012.html
define('ANNOUNCE_URLS', [
  [ # Tier 1
    'https://track.biotorrents.de:443',
  ],
  [ # Tier 2
    'udp://tracker.coppersurfer.tk:6969/announce',
    'udp://tracker.cyberia.is:6969/announce',
    'udp://tracker.leechers-paradise.org:6969/announce'
  ]
]);

# ...
