##
# https://tighten.co/blog/converting-a-legacy-app-to-laravel/
#

/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode


##
# https://github.com/OPSnet/Gazelle/blob/master/.gitignore
#

# backups
*.*~
*.bak
*.sw*

# assets
/public/css/*
!/public/css/vendor/
/public/fonts.tgz
/public/fonts/*
/public/images/badges/*
/public/js/*
!/public/js/vendor/
/resources/closure-compiler.jar

/vendor/**
/public/vendor/**

# config
/classes/config.php
