##
# https://github.com/OPSnet/Gazelle/blob/master/.gitignore
#

# backups
*~
*.bak
*.sw*


# dotfiles
.DS_Store
.bash_history
.cache/
.config/
.docker/data/
.idea/
.local/
.npm-global/
.npm/
.npmrc
.pki/
.profile
.vscode/
.wine/
__MACOSX/

# assets
/public/css/**
!/public/css/vendor/**
/public/fonts.tgz
/public/fonts/**
/public/images/badges/**
/public/js/**
!/public/js/vendor/**
/resources/closure-compiler.jar
/vendor/**

# config
/classes/config.php
