{
    "openapi": "3.1.0",
    "info": {
        "title": "BioGazelle",
        "description": "Please generate a token in the user security settings and keep it safe. It's functionally a password, and as such, can't be recovered later. \n\n API requests are throttled to 2 requests every 5 seconds. This limit may be removed by [donating any amount](https://torrents.bio/donate) to help fund the service. \n\n Thank you for supporting [BioTorrents.de](https://torrents.bio), an open platform for libre biology data.",
        "version": "1.1",
        "license": {
            "name": "ISC",
            "url": "https://github.com/biotorrents/gazelle/blob/development/LICENSE"
        }
    },
    "servers": [
        {
            "url": "https://torrents.bio/api",
            "description": "production"
        },
        {
            "url": "https://dev.torrents.bio/api",
            "description": "development"
        }
    ],
    "security": [
        {
            "bearerAuth": []
        }
    ],
    "paths": {
        "/": {
            "get": {
                "operationId": "listVersionsv2",
                "summary": "List API versions",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/vnd.api+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/base200"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/vnd.api+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/base400"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v2": {
            "get": {
                "operationId": "getVersionDetailsv2",
                "summary": "Show API version details",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/vnd.api+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/base200"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/vnd.api+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/base400"
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "securitySchemes": {
            "bearerAuth": {
                "type": "http",
                "scheme": "Bearer: <token>"
            }
        },
        "schemas": {
            "base200": {
                "type": "object",
                "properties": {
                    "data": {
                        "type": "object"
                    },
                    "jsonapi": {
                        "type": "object",
                        "properties": {
                            "version": {
                                "type": "string"
                            }
                        }
                    },
                    "meta": {
                        "type": "object",
                        "properties": {
                            "id": {
                                "type": "string"
                            },
                            "count": {
                                "type": "integer"
                            }
                        }
                    }
                }
            },
            "base400": {
                "type": "object",
                "properties": {
                    "errors": {
                        "type": "object"
                    },
                    "jsonapi": {
                        "type": "object",
                        "properties": {
                            "version": {
                                "type": "string"
                            }
                        }
                    },
                    "meta": {
                        "type": "object",
                        "properties": {
                            "id": {
                                "type": "string"
                            },
                            "count": {
                                "type": "integer"
                            }
                        }
                    }
                }
            }
        }
    }
}