/**
 * Icons
 *
 * All default sitewide icons:
 *  - category icons,
 *  - forum icons, and
 *  - badge styles.
 */

$posts: "/public/images/forums/";
$nrcc: no-repeat center center;

@mixin bioicons($emoji) {
  content: $emoji;
  font-size: xx-large;
}

/**
 * Category Icons
 */

.cats_sequences::before {
  @include bioicons("🧬");
}

.cats_graphs::before {
  @include bioicons("📈");
}

.cats_systems::before {
  @include bioicons("🌐");
}

.cats_geometric::before {
  @include bioicons("💠");
}

.cats_scalars\/vectors::before {
  @include bioicons("⏱️");
}

.cats_patterns::before {
  @include bioicons("❄️");
}

.cats_constraints::before {
  @include bioicons("⚙️");
}

.cats_images::before {
  @include bioicons("🔬");
}

.cats_spatial::before {
  @include bioicons("🗺️");
}

.cats_models::before {
  @include bioicons("🏗️");
}

.cats_documents::before {
  @include bioicons("📓");
}

.cats_machinedata::before {
  @include bioicons("📡");
}

/* Related to browse page? */
#cat-selector ul {
  width: 100%;
}

#cat-selector ul li {
  display: inline;
}

/* Shown on torrent details header table */
img.torrent_header {
  width: 1.2rem;
  height: 1.2rem;
  background-size: 1.2rem 1.2rem;
  display: inline-block;
}

/**
 * Forum Icons
 */

.unread {
  background: url($posts + "unread.png") $nrcc;
}

.read {
  background: url($posts + "read.png") $nrcc;
}

.unread_locked {
  background: url($posts + "locked_unread.png") $nrcc;
}

.read_locked {
  background: url($posts + "locked_read.png") $nrcc;
}

.read_sticky {
  background: url($posts + "sticky_read.png") $nrcc;
}

.unread_sticky {
  background: url($posts + "sticky_unread.png") $nrcc;
}

.unread_locked_sticky {
  background: url($posts + "locked_sticky_unread.png") $nrcc;
}

.read_locked_sticky {
  background: url($posts + "locked_sticky_read.png") $nrcc;
}

/**
 * Badges
 */

img.badge {
  max-width: 16px;
  max-height: 16px;
}

a.badge_icon {
  white-space: nowrap;
}
