{% extends "base.twig" %}


{% block content %}

<section>
	{{ content|raw }}
</section>

{% if enableConversation and conversation %}
    {% set variables = { "conversation": conversation } %}
    {% include "_base/conversation.twig" with variables %}
{% endif %}

{% endblock %}


{% block sidebar %}

	{% include "siteText/rules/sidebar.twig" %}

{% endblock %}