/* Debug */
#site_debug td {
    border: 1px solid black;
}

/* Dead torrents */
.dead {
    opacity: 0.5;
}

/* No DB key warning */
#dbcrypt {
    position: fixed;
    top: 10px;
    right: 10px;
}

#dbcrypt:after {
    content: "!";
    display: block;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 20px;
    font-weight: 600;
    color: black;
    background: red;
    border-radius: 100px;
}

/**
 * Fix long filename tables overflowing (Chrome only).
 * Stop various release page containers from overflowing with long input.
 * !! Be sure to test all major browsers before changing this section. !!
 * Fix report information tables overflowing long reports (all browsers).
 * Fix long release descriptions overflowing containers (all browsers).
 * Fix flowing issues in the report resolving pages.
 */

.wrap_overflow,
.filelist_table td,
.reportinfo_table,
.torrentdetails blockquote,
.body,
.profileinfo {
    word-wrap: break-word;
    word-break: normal;
    word-break: break-word;
    hyphens: auto;
}

.filelist_table td:first-child {
    word-break: break-all;
}

/* Fix long overflow for Opera (doesn't support word-break). */
.reportinfo_table {
    table-layout: fixed;
}

/* Wrap release info for consistent DOM and to limit table expansion. */
.no_overflow {
    width: 100%;
    overflow: hidden;
}
