/**
 * Fixes needed to use skeleton.css
 * to its best no-fuss advantage
 */

/* Set heading fonts 50% of default and bump down a level */
@mixin heading-attributes {
    letter-spacing: -1px !important;
    margin: 1rem 0 !important;
}

h1:not(#logo) {
    font-size: 1.8rem !important;
    @include heading-attributes;
}

h2 {
    font-size: 1.5rem !important;
    @include heading-attributes;
}

h3 {
    font-size: 1.2rem !important;
    @include heading-attributes;
}

h4 {
    font-size: 0.9rem !important;
    @include heading-attributes;
}

h5 {
    font-size: 0.75rem !important;
    @include heading-attributes;
}

h6 {
    font-size: 0.75rem !important;
    @include heading-attributes;
}

/* Larger than phablet */
@media (min-width: 550px) {
    h1 {
        font-size: 1.8rem !important;
    }

    h2 {
        font-size: 1.5rem !important;
    }

    h3 {
        font-size: 1.2rem !important;
    }

    h4 {
        font-size: 0.9rem !important;
    }

    h5 {
        font-size: 0.75rem !important;
    }

    h6 {
        font-size: 0.75rem !important;
    }
}

/* Forum list headings */
table.forum_index {
    h4 {
        margin: 0 !important;
    }
}

/* Checkbox and radio labels */
label,
legend {
    display: inline !important;
}

/* Tables usually containing forms */
/* new request */ form#request_form,
/* BP */ table.store_table,
/* rule sections */ div.rule_table,
/* client rules */ table.clients_table,
/* login */ table.login_form,
/* requests? */form.create_form,
/* top10 and many */ form.search_form,
/* edit collage */ table.collage_edit,
/* notif filters */ form[name="notification"],
/* GENERIC */ table.skeleton-fix {
    th,
    td {
        border-bottom: 0 !important;
        padding: 0.25rem !important;
    }
}

/* Duplicate input rules here */
input,
input[type="search"],
input[type="text"] {
    margin: 0 !important;
}

input,
textarea,
select,
fieldset {
    margin-bottom: 0 !important;
}

/* Block elements */
pre,
blockquote,
dl,
figure,
table,
ul,
ol,
form {
    margin-bottom: 0 !important;
}

/* Inline code */
code {
    padding: 0 !important;
}

/* Unordered lists */
ul {
    list-style: circle outside !important;
}

/* Poll options */
ul#poll_options {
    list-style: none !important;
    margin-left: 0 !important;
    margin-bottom: 0.5rem !important;
}

/* Nested lists */
ul ul,
ul ol,
ol ol,
ol ul {
    margin: 0 !important;
    font-size: 100% !important;
}
