/* Messages */
@mixin message($color) {
  .save_message {
    padding: 1rem;
    width: 50%;
    margin: 2em auto;
    background: $color;
    text-align: center;
    color: #222;
    font-weight: bold;
    box-shadow: $shadow;
  }
}

.error_message {
  @include message(#ffcdd2);
}

.save_message {
  @include message(#ffe0b2);
}

.elem_error {
  border: 2px solid rgba(255, 0, 0, 0.5);
}
