{% extends "base.twig" %}

{% block content %}

	<h2>Confirm your account</h2>

	{% if response %}
		<p class="error">
			{{ response }}
		</p>

		{# resend confirmation #}
		{% if resendConfirmation %}
			<p class="flexRow">
        		<a href="/resend/{{ username }}" class="button">send new confirmation</a>
			</p>
		{% endif %}

	{% else %}
		<p class="info">
			Thanks for confirming your account.
			Please enjoy the site!
		</p>

		<p class="flexRow">
			<a href="/rules" class="button button-primary">rules</a>
			<a href="/wiki" class="button">wiki</a>
		</p>
	{% endif %}

{% endblock %}
