{% extends "base.twig" %}

{% block content %}

{# flavor text #}
<p class="center mouseless">
    A platform to share <strong>biological sequence</strong>
    and <strong>medical imaging</strong> data
    {% if post is empty %}
    <sup>1</sup>
    {% endif %}
</p>

{# cookies disabled #}
{#
<p id="cookiesDisabled" class="hidden error">
    You appear to have cookies disabled.
</p>
#}

{# javascript disabled #}
<noscript>
    <p class="error">
        {{ env.siteName }} requires JavaScript to function properly.
        Please enable JavaScript in your browser.
    </p>
</noscript>

{# error message #}
{% if response is not null %}
    <p class="error">
        {{ response }}
    </p>
{% endif %}

{# webauthn response #}
<p id="webAuthnResponse"></p>

{# regular login form #}
<form name="login" id="login" method="post">
    {{ form_token(query.server.REQUEST_URI) }}

    {# username #}
    <input type="text" name="username" id="username" placeholder="Username" autofocus="autofocus" autocomplete="username webauthn" required>

    {# passphrase #}
    <input type="password" name="passphrase" id="passphrase" placeholder="Passphrase" minlength="15" autocomplete="password" required>

    {# twoFactor #}
    <input type="number" name="twoFactor" id="twoFactor" placeholder="2FA">

    {# rememberMe #}
    <ul class="nobullet">
        <li>
            {% if post.rememberMe is defined %}
                <input type="checkbox" name="rememberMe" id="rememberMe" value="true" checked>
            {% else %}
                <input type="checkbox" name="rememberMe" id="rememberMe" value="true">
            {% endif %}
            <label for="rememberMe">Remember me for a week</label>
        </li>
    </ul>

    {# log in #}
    <input type="submit" name="submit" id="submit" value="Log in" class="button-primary">

    {# webauthn  login #}
    <a id="assertWebAuthn" class="button button-orange">webauthn login</a>

    {# register #}
    {% if env.openRegistration == true and post is empty %}
        <a href="/register" class="button">register</a>
    {% endif %}

    {# recover #}
    {% if post is not empty %}
        <a href="/recover" class="button">recover account</a>
    {% endif %}

    {# resend confirmation #}
    {% if resendConfirmation %}
        <a href="/resend/{{ post.username }}" class="button">send new confirmation</a>
    {% endif %}

</form>

{# flavor text #}
{% if post is empty %}
    <ol class="center mouseless">
        <li>…and graphs, scalars, vectors, patterns, constraints, models, and more</li>
    </ol>
{% endif %}

{# cookie test #}
{#
<script>
    document.cookie = "test=test;max-age=5";
    let value = document.cookie
        .split("; ")
        .find(row => row.startsWith("test="))
        .split("=")[1];

    if (value !== "test") {
        let element = document.getElementById("cookiesDisabled");
        element.classList.remove("hidden");
    }
</script>
#}

{% endblock %}