{% extends "base.twig" %}

{% block content %}

<h2>Recover your account</h2>

{% if response is not null %}
<p class="error">
    {{ response }}
</p>
{% else %}
<p class="info">
    {# https://cheatsheetseries.owasp.org/cheatsheets/Authentication_Cheat_Sheet.html#password-recovery #}
    If that email address is in our database, we will send you an email to reset your password
</p>

{% endif %}

{% endblock %}