{% extends "base.twig" %}

{% block content %}

<h1>Register for a new account</h1>

{% if response is not null %}
<p class="important_text">
    {{ response }}
</p>
{% endif %}

{% if emailSent is not null %}
<p class="important_text_alt">
    We sent an email to the address you provided.
    After you confirm your email address, you may log into your account.
</p>


{% else %}


{# start the registration form itself #}
<form class="create_form" name="user" id="registerform" method="post" action="/register" onsubmit="return formVal();">
    {% if user.AuthKey is defined %}
    <input type="hidden" name="authKey" value="{{ user.AuthKey }}" />
    {% endif %}

    {% if invite is not null %}
    <input type="hidden" name="invite" value="{{ invite }}" />
    {% endif %}

    <p>
        Use common sense when picking your username.
        <strong>Don't choose one associated with your real name.</strong>
        If you do, we won't be changing it for you.
    </p>

    <input type="text" name="username" id="username" class="inputtext" placeholder="Username" />
    <br /><br />

    <input type="email" name="email" id="email" class="inputtext" placeholder="Email" />
    <br /><br />

    <input type="password" minlength="15" name="passphrase" id="new_pass_1" class="inputtext"
        placeholder="Passphrase" />
    <strong id="pass_strength"></strong>
    <br /><br />

    <input type="password" minlength="15" name="confirm_password" id="new_pass_2" class="inputtext"
        placeholder="Confirm passphrase" />
    <strong id="pass_match"></strong>
    <br /><br />

    <input type="checkbox" name="isAdult" id="isAdult" value="true" />
    <label for="isAdult">I'm 18 years or older</label>
    <br /><br />

    <input type="checkbox" name="privacyConsent" id="privacyConsent" value="true" />
    <label for="privacyConsent">I consent to the <a href="/privacy">privacy policy</a></label>
    <br /><br />

    <input type="checkbox" name="ruleWikiPledge" id="ruleWikiPledge" value="true" />
    <label for="ruleWikiPledge">I'll read the site rules and wiki</label>
    <br /><br />

    <input type="submit" name="submit" value="Submit" class="button-primary" />

</form>

{% endif %} {# if sent #}
{% endblock %}