{% extends "base.twig" %}

{% block content %}

<h2>Register for a new account</h2>

{% if response is not null %}
<p class="error">
    {{ response }}
</p>
{% endif %}

{% if emailSent is not null %}
<p class="info">
    We sent an email to the address you provided.
    After you confirm your email address, you may log into your account.
</p>


{% else %}


{# start the registration form itself #}
<form name="register" id="register" method="post" action="/register">

    {% if user.AuthKey is defined %}
    <input type="hidden" name="authKey" value="{{ user.AuthKey }}" />
    {% endif %}

    {% if invite is not null %}
    <input type="hidden" name="invite" value="{{ invite }}" />
    {% endif %}

    <p>
        Use common sense when picking your username.
        <strong>Don't choose one associated with your real name.</strong>
        If you do, we won't be changing it for you.
    </p>

    <input type="text" name="username" id="username" placeholder="Username" />

    <input type="email" name="email" id="email" placeholder="Email" />

    <input type="password" name="passphrase" id="passphrase" minlength="15" placeholder="Passphrase" />

    <input type="password" name="confirmPassphrase" id="confirmPassphrase" minlength="15"
        placeholder="Confirm passphrase" />

    <ul>
        <li>
            <input type="checkbox" name="isAdult" id="isAdult" value="true" />
            <label for="isAdult">I'm 18 years or older</label>
        </li>

        <li>
            <input type="checkbox" name="privacyConsent" id="privacyConsent" value="true" />
            <label for="privacyConsent">I consent to the <a href="/privacy">privacy policy</a></label>
        </li>

        <li>
            <input type="checkbox" name="ruleWikiPledge" id="ruleWikiPledge" value="true" />
            <label for="ruleWikiPledge">I'll read the site rules and wiki</label>
        </li>
    </ul>

    <input type="submit" name="submit" id="submit" value="Submit" class="button-primary" />

</form>

{% endif %} {# if !emailSent #}
{% endblock %}