{# user settings actions #}
<section>
<h3>Actions</h3>

<form method="post">
	<input type="password" form="userSettingsForm" id="currentPassphrase" name="currentPassphrase" placeholder="Current passphrase" required>

	<label for="currentPassphrase">Please enter your current passphrase to update any of your settings</label>

	<input type="submit" form="userSettingsForm" id="save" name="save" value="save settings" class="button-primary">

	{# /user/{{ user.core.id }}/preview #}
	<a href="/user.php?id={{ user.core.id }}&previewMode=true" target="_blank" class="button button-orange">preview profile</a>

{#
    {% if env.enableDonations %}
    <input type="button" id="donate" name="donate" value="donate" class="button-green">
    {% endif %}

    <input type="button" id="staff" name="staff" value="staff" class="button-purple">
    #}
</form>
</section>

{# go to section #}
<section>
	<h3>Show only this section</h3>

<form>
	<a id="toggleAllSettings" class="button button-primary toggleSettings">all settings</a>

	<a id="toggleSiteAppearanceSettings" class="button toggleSettings">site appearence</a>

	<a id="toggleTorrentSettings" class="button toggleSettings">torrents</a>

	<a id="toggleCommunitySettings" class="button toggleSettings">community</a>

	<a id="toggleNotificationSettings" class="button toggleSettings">notifications</a>

	<a id="toggleProfileSettings" class="button toggleSettings">profile</a>

	<a id="toggleSecuritySettings" class="button toggleSettings">security</a>
</form>
</section>
