/* latin-ext */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url(../fonts/sourcesanspro-lne.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url(../fonts/sourcesanspro-ln.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

* {
  margin: 0;
  padding: 0
}

.cats_anime, .cats_movies, .cats_manga, .cats_games, .cats_other {
  width: 38px!important;
  height: 38px!important;
  line-height: 38px;
}
.group .cats_anime:after, .group .cats_movies:after,
.group .cats_manga:after, .group .cats_games:after,
.group .cats_other:after {
  color: black!important;
}
.cats_anime:after {
  content: "ANM";
  color: #3EACA7;
  font-size: 18px;
}
.group .cats_anime { background-color: #3EACA7; }
.cats_movies:after {
  content: "JAV";
  color: #1D818E;
  font-size: 20px;
}
.group .cats_movies { background-color: #1D818E; }
.cats_manga:after {
  content: "MNG";
  color: #88C796;
  font-size: 18px;
}
.group .cats_manga { background-color: #88C796; }
.cats_games:after {
  content: "GAM";
  color: #4DC593;
  font-size: 19px;
}
.group .cats_games { background-color: #4DC593; }
.cats_other:after {
  content: "OTH";
  color: #0D5968;
  font-size: 19px;
}
.group .cats_other { background-color: #0D5968; }

body {
  width: 100%;
  font-family: 'Source Sans Pro',Helvetica,sans-serif;
  font-size: 10pt;
  color: #E9E9E9;
  background-color: #23252a
}

a {
  text-decoration: none;
  border: none;
  color: #85878f
}

a:hover {
  color: #92d4a0
}

b,strong {
  font-weight: 400!important
}

::selection, ::-moz-selection {
  background: #3eaca7
}

h1,h2,h3,h4 {
  font-weight: 300;
  margin: 5px 0!important
}

h2 {
  font-size: 1.2em
}

h2,h3 {
  text-align: center
}

li {
  margin: 5px 15px;
}

p {
  margin: 10px 5px
}

input {
  border: 1px solid #5b5e64;
  background-color: #373a42;
  padding: 10px 9px;
  color: #fff
}

button,input[type=button],input[type=submit] {
  font-family: 'Source Sans Pro',Helvetica,sans-serif;
  background-color: #50aca7;
  color: #fff
}

button:hover,input[type=button]:hover,input[type=submit]:hover {
  background-color: #317f8e
}

button:focus,input[type=button]:focus,input[type=submit]:focus {
  background-color: #2f707c
}

.spoilerButton {
  max-width: 604px;
}

::-webkit-input-placeholder {
  font-family: 'Source Sans Pro',Helvetica,sans-serif
}
:-moz-placeholder {
  font-family: 'Source Sans Pro',Helvetica,sans-serif
}
::-moz-placeholder {
  font-family: 'Source Sans Pro',Helvetica,sans-serif
}
:-ms-input-placeholder {
  font-family: 'Source Sans Pro',Helvetica,sans-serif
}

select {
  background-color: #373a42;
  border: 1px solid #5b5e64;
  color: #fff;
  font-family: 'Source Sans Pro'!important;
  outline: 0
}

textarea {
  background-color: #373a42;
  border: 1px solid #5b5e64;
  color: #fff;
  font-family: 'Source Sans Pro';
  font-size: 1.1em;
  padding: 2px 3px;
  margin: 4px 0px;
}

span.size1 {
  font-size: .75em
}

span.size2 {
  font-size: 1em
}

span.size3 {
  font-size: 1.25em
}

span.size4 {
  font-size: 1.5em
}

span.size5 {
  font-size: 1.75em
}

span.size6 {
  font-size: 2em
}

span.size7 {
  font-size: 2.25em
}

span.size8 {
  font-size: 2.5em
}

span.size9 {
  font-size: 2.75em
}

span.size10 {
  font-size: 3em
}

ul.thin {
  margin: 0 0 0 25px;
  padding: 0
}

ul.thin li {
  margin: 0;
  padding: 0
}

#wrapper {
  padding: 0
}

#header {
  width: 900px;
  position: relative
}

#content {
  width: 900px;
  overflow: hidden
}

#footer {
  font-size: .9em;
  margin-top: 2px;
  padding: 10px;
  text-align: center
}

.center {
  text-align: center
}

.min_padding {
  margin: 0;
  padding: 0
}

p.min_padding {
  margin: 2px 0
}

.vertical_space {
  margin-bottom: 2px!important
}

.box {
  font-size: .9em;
  background-color: #2c2f36!important;
  margin-bottom: 8px;
}

.box_addartists .body, .box_addtag .body {
  padding: 10px;
}

.pad h3,.pad h4,.padbox h3,.padbox h4 {
  margin-top: 0;
  padding-top: 0
}

.sidebar {
  float: right;
  width: 244px;
  height: 100%
}

.sidebar .box .pad form {
  padding-bottom: 20px;
}

.body {
  background-color: #2c2f36;
  padding: 5px 10px 10px 10px;
}

.main_column {
  width: 646px;
  float: left
}

#DonInfo {
  font-size: .9em;
  font-family: 'Source Sans Pro';
  text-indent: 3pt!important
}

#logo {
  width: 900px;
  height: 60px;
  background-position: 0 12px;
  background-repeat: no-repeat;
}

#logo a {
  border: none;
  width: 230px;
  height: 60px;
  display: block
}

#logo a::before {
  content: "Oppaitime";
  font-size: 40px;
  line-height: 56px;
  font-weight: bold;
  font-family: sans-serif;
}

#userinfo {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 50;
}

#userinfo > ul {
  height: 17px;
}

#userinfo ul li {
  display: inline-block;
  line-height: 20px;
  vertical-align: middle;
  margin: 0 .1em;
  padding: 2px
}

#userinfo_username, #userinfo_major {
  display: inline-block
}

#userinfo_minor > li, #userinfo_minor > li > span {
  float: right;
}

#userinfo_minor > li > ul {
  display: none;
  background: #23252A;
  padding: 6px 10px;
  margin-top: 26px;
}

#userinfo_minor > li > ul > li {
  display: block;
}

#userinfo_stats {
  color: #abd6ad;
  font-size: 1.1em;
  width: auto;
  z-index: 1001
}

#userinfo_stats a:hover {
  text-decoration: underline;
}

#searchbutton,.hide {
  display: none;
}

#userinfo_stats .stat,#userinfo_stats a,.colhead_dark a {
  color: #fff;
}

#menu {
  margin-bottom: 2px;
  height: 50px;
}

#menu > ul {
  display: flex;
}

#menu > ul > li {
  position: relative;
  list-style: none;
  display: flex;
  flex: 1 1 90px;
  margin: 0;
}

#menu > ul > li > a {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  vertical-align: middle;
  color: #FFF;
  text-decoration: none;
  overflow: hidden;
  white-space: nowrap;
}

#menu > ul > li:nth-of-type(1) > a {
  background-color: #0d5968
}
#menu > ul > li:nth-of-type(2) > a {
  background-color: #20717c
}
#menu > ul > li:nth-of-type(3) > a {
  background-color: #1d818e
}
#menu > ul > li:nth-of-type(4) > a {
  background-color: #278E98
}
#menu > ul > li:nth-of-type(5) > a {
  background-color: #3eaca7
}
#menu > ul > li:nth-of-type(6) > a {
  background-color: #47B39A
}
#menu > ul > li:nth-of-type(7) > a {
  background-color: #47bc97
}
#menu > ul > li:nth-of-type(8) > a {
  background-color: #4DC593
}
#menu > ul > li:nth-of-type(9) > a {
  background-color: #74c796
}
#menu > ul > li:nth-of-type(10) > a {
  background-color: #88C796
}

.alertbar {
  background-color: #186c77;
  text-align: center;
  color: #fff;
  font-size: 10pt;
  width: 900px;
  height: 18px;
  margin: 2px 0;
  padding: 9px 0;
  vertical-align: middle
}

.alertbar a {
  display: inline-block;
  position: relative;
  left: 0;
  height: 18px;
  color: #FFF;
  text-decoration: underline
}

#alerts a, .alertbar a,.torrent_table .group a,.ui-state-hover,a.ui-state-hover,li.ui-state-hover {
  color: #FFF;
}

.alertbar a:hover,.tags a:hover {
  color: #fff;
  text-decoration: none;
}

.alertbar {
  color: transparent;
}

.alertbar a[href="news.php"] {
  background: linear-gradient(#045362,#0d5968);
}

.alertbar #del_announce {
  left: 432px;
  top: -45px;
}

#alerts.countdown_wrapper .alertbar {
  color: #fff;
}

.alertbar[style="border:1px solid #360;background-color:#120;margin-bottom:3px;"] {
  color: #fff;
  border: none;
  margin-bottom: 2px;
  height: 36px;
}

#searchbars {
  box-sizing: border-box;
  width: 900px;
  height: 50px;
  padding: 8px 0;
  background: url(images/search.png) no-repeat #373a42;
  margin-bottom: 2px;
}

#searchbars input {
  box-sizing: border-box;
  width: 135px;
  height: 34px;
  margin: 0;
  border: 1px solid #5b5e64;
  padding: 7px 11px 7px 8px;
  color: #bdbec0;
}

#searchbars input:hover {
  border: 1px solid #8e9198;
}

#searchbars input:focus {
  border: 1px solid #fff;
}

#searchbars ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: block;
}

#searchbars ul li {
  display: inline;
  float: left;
  margin: 0 7px 0 0;
  position: relative;
  list-style: none;
}

#searchbars ul li:first-child {
  margin-left: 48px;
}

#searchbars ul li form {
  display: inline;
  margin: 0;
}

#settings_sections {
  padding-bottom: 10px;
  padding: 0px;
}

#settings_sections > ul.nobullet {
  /*padding: 0px 10px 10px;*/
}

.newmem {
  background-color: #222;
  text-align: center;
  font-size: .95em;
  margin: 0 auto;
  padding: 5px;
}

#cat-selector ul li {
  display: inline;
  width: 12em;
  height: 1em;
  float: left;
}

div.contenth textarea {
  background-color: #373a42;
  border: 1px solid #5b5e64;
  color: #fff;
  font-family: 'Source Sans Pro',Helvetica,sans-serif;
  font-size: 1.1em;
  padding: 2px 3px
}

div.bbcode-toolbar {
  background: #23252a;
  border-left: 0 hidden;
  border-right: 0 hidden;
  width: 900px;
  padding-left: 40px
}

div.bbcode-smileys {
  background: #23252a;
  border-left: 0 hidden;
  border-right: 0 hidden;
  margin-top: -10px;
  margin-bottom: 15px
}

div.bbcode-smileyshover {
  background: #2c2f36
}

div.linkbox {
  text-align: center;
  padding: 5px
}

#banner {
  width: 900px
}

#torrents #content .thin h2 a img {
  width: 900px;
  margin-top: -5px
}

#torrents .sidebar table.box {
  font-size: 1em;
  margin-top: 2px;
  width: 252px;
  padding: 0;
}

#torrents .main_column .box.pad {
  background-color: #23252a;
  padding-top: 10px;
}

input[value="Make Default"] {
  margin-left: -.6em;
}

.ui-menu .ui-menu-item a {
  padding: 5px 9px;
  background: #085565;
}

.ui-state-focus,.ui-state-hover,.ui-widget-content .ui-state-focus,.ui-widget-content .ui-state-hover,.ui-widget-header .ui-state-focus,.ui-widget-header .ui-state-hover {
  background: #085565;
  border: none;
}

#ui-active-menuitem {
  background: #0B4A57;
  margin: 0;
}

.ui-widget {
  font-family: 'Source Sans Pro',Helvetica,sans-serif;
}

.ui-widget-overlay {
  background: #23252a;
  opacity: .5;
}

.ui-widget-content {
  border: none!important;
  background: #055363!important;
  font-size: .9em!important;
  color: #fff!important;
  padding: 0!important;
}

.ui-widget-header {
  background: none!important;
  border: none!important;
}

.ui-state-default {
  background: #17191c!important;
  border: none!important;
  width: 48px!important;
  height: 36px!important;
  margin: 1px!important;
}

.ui-state-default a {
  margin-left: 3px!important;
  margin-top: 4px!important;
}

.ui-state-active,.ui-tabs-selected,.ui-widget-content .ui-state-active,.ui-widget-header .ui-state-active {
  background: #2c2f36!important;
  color: #fff;
  margin: 1px!important;
}

.ui-state-hover,.ui-widget-content .ui-state-hover,.ui-widget-header .ui-state-hover {
  background: #222429!important;
  color: #fff;
}

.ui-tabs {
  width: 636px!important;
  font-size: 1.1em!important;
  background-color: #2c2f36!important;
}

.ui-tabs .ui-tabs-panel {
  background-color: #2c2f36!important;
}

.ui-tabs-nav {
  width: 48px!important;
  margin-top: -8px!important;
  margin-bottom: -10px!important;
  margin-left: -1px!important;
}

.ui-tabs-panel {
  width: 564px!important;
}

.ui-corner-all {
  -moz-border-radius: 0!important;
  -webkit-border-radius: 0!important;
  border-radius: 0!important;
}

.ui-corner-left {
  border-top-left-radius: 0!important;
  border-bottom-left-radius: 0!important;
}

.ui-autocomplete-loading {
  background-color: #2c2f36!important;
  background-image: none!important;
}

.ui-dialog-titlebar.ui-widget-header.ui-corner-all.ui-helper-clearfix {
  background-color: #2c2f36!important;
}

#recommend td[width="1%"] {
  color: transparent;
}

.welcome {
  font-size: 1em;
  background-color: #282828;
  border: 1px solid #303030;
}

.b1h,.b2bh,.b2h,.b3bh,.b3h,.b4bh,.b4h,.contenth {
  background: none!important;
}

.b1bh,.b1h,.b2bh,.b2h,.b3bh,.b3h,.b4bh,.b4h {
  background: #fefefe;
  border-left: 0 solid #aaa!important;
  border-right: 0 solid #aaa!important;
  height: 2px;
  margin: 0 1px;
}

.contenth {
  border-left: 0 hidden!important;
  border-right: 0 hidden!important;
  color: #fff!important;
}

.head {
  font-size: 1.05em!important;
  background: #52555c;
  position: relative!important;
  padding: 6px;
  width: 100%;
  box-sizing: border-box;
}

div[style="padding-top:8px;background-color:#322;color:#ecc;"] {
  padding-top: 8px!important;
  background-color: #c1696a!important;
  color: #ecc!important;
}

#reseed_box {
  padding-bottom: 0;
}

#reseed_box .sign {
  text-align: left;
}

#reseed_box #swapreseed {
  color: #85878F;
  position: relative;
  left: 468px;
}

#reseed_box #swapreseed:hover {
  color: #92d4a0;
}

#reseed_box .head {
  margin-bottom: 2px!important;
}

.tags {
  font-style: italic;
  padding: 0 0 0 20px;
}

.tags a {
  color: #7e7e7e;
}

ul.nobullet {
  padding-bottom: 2px;
}

ul.nobullet, ul.nobullet li {
  list-style-type: none;
}

table {
  width: 100%;
  border-collapse: collapse
}

td {
  padding: 5px
}

td.tdleft {
  text-align: left;
  padding: 5px
}

td.tdcenter {
  text-align: center;
  padding: 5px
}

td.tdright {
  text-align: right;
  padding: 5px
}

.forum_group_header {
  background-color: #373a42!important;
  color: #fff;
  font-weight: 300;
  margin-top: 2px
}

.colhead {
  background: #565961;
  font-weight: 300;
  color: #fff
}

.colhead td,td.colhead {
  padding-left: 5px;
  padding-right: 5px
}

.colhead_dark {
  background: linear-gradient(#52555c,#585b62);
  color: #fff;
  vertical-align: middle
}

tbody .colhead_dark {
  background: linear-gradient(#52555c,#585b62);
  color: #fff!important;
  vertical-align: middle
}

ul.navigation {
  background-color: #565961!important;
  color: #fff;
  text-align: center;
  list-style: none;
  font-weight: 300!important;
  padding: 10px!important
}

ul.navigation li {
  display: inline;
  padding: 0!important;
  margin-right: -2px!important
}

ul.navigation a {
  color: #fff;
  text-decoration: none;
  padding: 10px 20px!important
}

ul.navigation a:hover {
  color: #fff!important;
  background-color: #2f7e8c!important
}

ul.navigation a:focus {
  color: #fff!important;
  background-color: #2b6d79!important;
  outline: 0
}

ul.navigation a.selected {
  color: #fff!important;
  background-color: #085565!important
}

.scroll .panel {
  background-color: #2c2f36!important
}

.scroll .panel tr {
  border: none
}

.box.tvshows .snatches+.pad {
  padding: 0
}

.leftbar {
  width: 86px!important;
  padding: 0 10px 10px!important
}

.leftbar img {
  width: 106px;
  margin-left: -10px
}

.midbar {
  margin-left: 108px!important
}

.midbar .box {
  padding: 10px!important
}

.midbar .head {
  width: 772px
}

.midbar .box.info>div {
  margin-bottom: 10px
}

.midbar .box.usermenu {
  padding: 0!important;
  margin-bottom: 2px!important
}

.password_strength_bg {
  background-color: #2c2f36!important;
  width: 289px!important
}

.password_strength_container {
  width: 289px!important;
  padding: 5px!important
}

.password_strength {
  width: 289px!important
}

td.label {
  font-weight: 300;
  text-align: right;
  width: 260px
}

table.slice {
  margin-top: -1px
}

.error_message {
  border: 1px solid #666;
  background-color: #AF2525;
  text-align: center;
  color: #FFF;
  padding: 3px 0
}

.save_message {
  margin-top: 2px;
  background-color: #93d4a2;
  text-align: center;
  color: #fff;
  padding: 10px
}

.elem_error {
  border: 3px solid #B00D0D
}

ul.stats li {
  padding: 0 0 1px
}

ul.stats tr {
  border: none
}

ul.poll li {
  margin: 0;
  padding: 0 0 0 10px
}

ul.poll li.graph {
  margin-bottom: 3px;
  padding-left: 20px
}

span.center_poll {
  background: #565960;
  border-radius: 3px;
  display: inline-block;
  height: 8px;
  min-width: 8px;
}

.show_torrents_link {
  border: none;
  width: 28px;
  height: 28px;
  display: block
}

#series .box .body img {
  margin: -10px;
  margin-top: -6px!important;
  width: 646px;
  height: 100%
}

#series .sidebar .box .nobullet {
  text-align: center
}

#series .sidebar .box .stats {
  text-align: initial!important
}

.rating {
  background: url(images/hover-rating.png) 0 -32px repeat-x!important
}

.rating-bg {
  background: url(images/hover-rating.png) top left repeat-x!important
}

.torrent_table tr {
  vertical-align: top
}

.torrent_table tbody .pad>td,.torrent_table tbody>.pad {
  padding: 0
}

.colhead .sign,.colhead_dark .sign {
  vertical-align: middle;
  text-align: right;
  font-size: 1.2em;
  font-weight: 300
}

.torrent_table tr.group_torrent.first {
  border-top: 3px solid #565960
}

.torrent_table tr.group_torrent a:hover span {
  color: #92d4a0!important
}

#series .main_column .box,#series .main_column table.border {
  margin-top: 2px
}

.season {
  color: #ff2419
}

.episode {
  color: #00aeef
}

.torrent_table .colhead_dark {
  background-color: #55585f;
  height: 36px!important;
  vertical-align: middle!important
}

.torrent_table .group {
  background-color: #2c2f36
}

.torrent_table div.tags {
  font-weight: 400
}

.torrent_table tr .center {
  vertical-align: middle;
  text-align: center
}

.torrent_table tr.group_torrent td a span {
  float: left;
  white-space: pre
}

.torrent_table tr.group_torrent td {
  padding: 8px
}

.torrent_table tr.group_torrent .group.discog {
  padding: 8px 10px
}

.torrent_table tr.group_torrent .group.discog .episode,.torrent_table tr.group_torrent .group.discog b {
  color: #37a9a4!important
}

.torrent_table tr.group_torrent .group.discog .episode:hover {
  color: #fff!important
}

.torrent_table tr.group_torrent .group.discog .season {
  color: #92d4a0!important
}

.torrent_table tr.group_torrent .group.discog .season:hover {
  color: #fff!important
}

.torrent span, .group span {
  font-weight: 400;
  float: right
}

.torrent span img {
  vertical-align: text-top
}

.nobr {
  white-space: nowrap
}

form[action="inbox.php"] .box.pad.center {
  margin: 0;
  width: 900px;
  padding: 0;
  margin-top: 10px!important;
  background: none!important
}

form[action="inbox.php"] .box.pad table {
  background: initial!important
}

#kb .sidebar .box.pad {
  margin-top: 2px
}

#tvnews .head {
  height: initial
}

#tvnews .sidebar {
  margin-top: 27px
}

#tvschedule td {
  border: none
}

#collages td {
  padding: 3px
}

#collages .sign,#torrents .sign {
  padding: 5px;
  position: relative;
  left: -5px
}

.filter_torrents {
  width: 900px
}

.filter_torrents>.box {
  margin-top: 2px
}

.filter_torrents>.box.pad.center {
  margin-top: -48px;
  margin-bottom: 10px
}

.filter_torrents .box.pad .cat_list {
  position: relative;
  left: -12px;
  width: 900px
}

.filter_torrents .box.pad .cat_list tbody tr td input[type=checkbox][name="filter_cat[1]"],.filter_torrents .box.pad .cat_list tbody tr td label[for=cat_1] {
  position: relative;
  left: 376px
}

.filter_torrents .box.pad .cat_list#taglist td {
  background-color: #373a42!important
}

.filter_torrents .box.pad .cat_list#taglist tr {
  border-bottom: none
}

.filter_torrents .box.pad .cat_list td[width="12.5%"] {
  padding-left: 17px
}

.filter_torrents .box.pad .cat_list td.label {
  padding-right: 17px
}

.filter_torrents .box.pad .cat_list[width="100%"] td {
  background-color: #373a42!important
}

.filter_torrents .country_list {
  position: relative;
  left: -12px;
  width: 900px
}

.filter_torrents .country_list td {
  padding-left: 12px;
  background-color: #373a42!important
}

.filter_torrents .country_list tr {
  border-bottom: none
}

#bonus table[style="width:100%"] td,#bonus table[style="width:100%"] tr {
  padding: 10px!important;
  border-color: #23252a;
  border-style: solid;
  border-width: 2px
}

table.forum_post {
  margin-top: 2px
}

table.forum_post input[type=button] {
  margin-right: 2px
}

table.forum_post span[style="float:left;"] img,table.forum_post td[colspan="2"] {
  vertical-align: middle
}

td.avatar {
  width: 150px;
  padding: 0
}

table.forum_post td.body {
  width: 646px;
}
/* Because Firefox apparently doesn't understand "100%" in tables */
#forums table.forum_post td.body > div {
  max-width: 730px
}
.last_edited {
  opacity: 0.6;
}

tbody {
  max-width: 646px
}

blockquote {
  border: 1px dashed #666;
  margin: 10px;
  padding: 10px
}

blockquote,pre {
  background-color: #23252a!important
}

.signature {
  border-top: 1px dotted #666;
  margin: 2em 0 0;
  padding: .5em 0 0
}

div.user_details {
  padding: 5px
}

tr.unreadpm {
  background-color: #651809!important
}

.permission_head {
  width: 400px;
  margin-left: auto;
  margin-right: auto
}

.permissions {
  width: 930px;
  margin-left: auto;
  margin-right: auto
}

.permission_container {
  float: left;
  width: 300px;
  padding: 5px
}

.permission_container input {
  vertical-align: top;
  margin: 0 3px 5px 0
}

.submit_container {
  clear: both;
  text-align: right
}

ul .invitetree {
  margin: 0 0 0 25px
}

.invitetree li {
  list-style: none;
  margin: 10px 2px
}

#left_poll {
  width: 2px;
  height: 9px;
  background: #3caba6!important;
  float: left;
  margin: 0;
  padding: 0
}

#center_poll {
  height: 9px;
  background-color: #3caba6!important;
  float: left;
  margin: 0;
  padding: 0
}

#right_poll {
  width: 2px;
  height: 9px;
  background: #3caba6!important;
  float: left;
  margin: 0;
  padding: 0
}

.curtain {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  z-index: 1001
}

.lightbox {
  position: fixed;
  text-align: center;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
  z-index: 1002;
  overflow: auto;
  padding: 0
}

pre {
  color: #FFF;
  border: 1px dashed #55585f;
  margin: 10px;
  padding: 10px
}

#donation {
  position: absolute;
  display: inline;
  width: 0;
  top: 7px;
  right: 38px;
  padding: .6em 0;
  text-align: center;
  font-size: 1em;
  color: #fff;
  z-index: 1001
}

#donation:before {
  content: url(images/donation/heart.png)
}

#DonBk,#DonBr {
  display: none
}

#DonInfo a {
  display: block;
  height: 32px;
  width: 36px;
  color: #fff!important;
  line-height: 90px;
  margin-top: -153px
}

#blog .thin>br,#news .thin>br {
  display: none
}

#blog .box,#news .box {
  margin-bottom: 2px
}

#blog .head,#news .head {
  width: 900px
}

#forums .box {
  width: 900px;
  margin-top: 2px
}

#forums .head {
  width: 900px
}

#forums #content>br {
  display: none
}

#forums #content .thin>p {
  margin-top: -12px
}

#forums .box.pad {
  padding: 0!important;
  background-color: #23252a;
}

#forums #content .thin>table.forum_post {
  border-collapse: collapse!important
}

#actorshowcase .thin {
  text-align: center
}

#actorshowcase .thin>table {
  display: inline-block;
  width: 25%;
  height: 387px
}

#actorshowcase .thin>table>tbody {
  height: 387px
}

#quickpost {
  color: #eee!important;
  font-size: 1.1em!important
}

#quickpostform {
  background-color: transparent
}

#quickreplybuttons input[value=Editor] {
  margin-right: 2px
}

div.contenth #quickpost {
  right: -2px
}

#user .bbcode-btntoolbar,#user .bbcode-smileys {
  background-color: #2c2f36!important
}

#friends table[width="100%"] td {
  text-align: center
}

.tickets_search {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  font-size: .8em
}

.tickets_categories {
  float: left;
  text-align: left;
  padding: .5em
}

.tickets_status {
  float: right;
  text-align: left;
  padding: .5em
}

.small_label {
  width: 0;
  text-align: right;
  font-weight: 300
}

.filter_tickets {
  width: 850px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px
}

.rank {
  text-align: center;
  font: small-caps 2.4em Georgia,"Times New Roman",Times,serif;
  width: 86px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  position: relative
}

.rank img {
  clear: both
}

.rankimghide {
  display: none;
  margin: 0;
  padding: 0
}

.center h3 {
  padding-top: 4px;
  font-size: 1em
}

.review_row,.review_row.box {
  margin-top: 2px
}

.inline_rank {
  position: relative;
  top: 80px;
  left: 14px;
  font: small-caps 1.4em Georgia,"Times New Roman",Times,serif
}

.inline_rank img {
  width: 2%
}

.review_title {
  font: small-caps 2.1em Georgia,"Times New Roman",Times,serif;
  margin-left: 17px
}

.review_body {
  float: right;
  width: 765px;
  overflow: auto;
  margin: 6px 0 0;
  padding: 1px
}

.review_details {
  font-style: italic;
  float: right;
  padding-right: 12px;
  padding-bottom: 10px;
  padding-top: 5px
}

.review_search {
  width: 900px;
  text-align: center;
  margin: auto
}

.review_search input {
  width: 400px;
  text-align: center
}

.left_tabs {
  float: left;
  width: 100px
}

a.tab {
  display: block;
  background-color: rgba(69,69,69,.35);
  text-align: center;
  color: #FFF;
  font-weight: 300;
  text-transform: lowercase;
  padding: 4px
}

#content .home .main_column {
  float: right
}

#content .home .main_column .of_the_month {
  margin-left: -2px
}

#content .home .main_column .of_the_month .head {
  width: 302px
}

#content .home .main_column .of_the_month .box {
  width: 302px;
  margin-left: 2px;
  padding-bottom: 0!important
}

#content .home .main_column .of_the_month .box img {
  width: 322px;
  height: 474px;
  margin-left: -10px;
  margin-top: -10px
}

#content .home .main_column .of_the_month .box li {
  padding-bottom: 10px
}

.home table,.home td {
  border: 0
}

.home .sidebar {
  float: left
}

#torrents .torrent_table .sign {
  text-align: center
}

#torrent_table {
  font-size: 9pt
}

.sidebar .box .nobullet img {
  width: initial;
  margin: initial
}

#content .home .box {
  margin-bottom: 2px
}

#content .home .sidebar #last_uploads img {
  width: 252px;
  margin-left: -10px;
  margin-top: -7px;
  margin-bottom: 4px
}

#content .home .sidebar #last_uploads li b {
  display: none
}

#content .home #last_uploads {
  margin-top: -3px
}

#content .home th {
  text-align: left;
  padding: 5px
}

#content .home tr.colhead {
  border: 0;
  border-bottom: 1px solid #000
}

#content .home th:first-child {
  border-right: 1px solid #000
}

#content .home th:last-child {
  border-left: 1px solid #000
}

#content .home .of_the_month ul {
  font-size: 1.2em
}

#content .home .month_rating {
  font-family: 'Source Sans Pro';
  font-size: 4em;
  font-weight: 100!important;
  color: #92d4a1;
  position: relative;
  top: -6px
}

#content .home .of_the_month b {
  font-size: 1.3em
}

a.tab:hover {
  text-decoration: none;
  background-color: rgba(69,69,69,.55)
}

a.tab#selected {
  background-color: rgba(145,168,175,.3)
}

div.thin2 {
  float: left;
  width: 900px;
  margin: auto
}

p#preloader {
  margin: 0;
  padding: 1em 1em 1em 3em
}

.profileLink a {
  display: block;
  color: #fff;
  border-top: 1px solid #ccc;
  padding: .3em 1em
}

div#gift {
  width: 1px;
  height: 1px;
  position: relative;
  top: 130px;
  left: 895px;
  z-index: 999
}

.button {
  background: url(images/buttons.gif) center -34px no-repeat;
  border: 0 solid #131313;
  color: #EEE;
  height: 30px;
  letter-spacing: 1px;
  line-height: 16px;
  overflow: visible;
  text-transform: uppercase;
  padding: 5px 12px
}

#store #content {
  position: relative;
  margin-top: 2px
}

#store #content>div {
  position: initial!important
}

.jquery-msgbox-confirm {
  background: url(images/store/confirm.png) 20px 20px no-repeat!important
}

#store #content div[height="79px"] {
  background-image: url(images/store/tooltip.png)!important
}

div.star-rating a,div.star-rating.star {
  background: url(images/star.png) no-repeat!important
}

.small-star,.small-star .current-rating,.small-star a:active,.small-star a:focus,.small-star a:hover {
  background-image: url(images/star_small.png)!important
}

.box #summary {
  position: relative;
  left: -10px
}

.info table,.info td,.info tr,.requests table,.requests td,.requests tr {
  border: 0;
  vertical-align: top;
  margin: 0;
  padding: 0
}

#requests .box.pad {
  padding: 0!important
}

.info td {
  border-bottom: 0 solid gray!important;
  height: 50px;
  vertical-align: middle;
  width: 20px
}

#cat-selector ul,html {
  width: 100%
}

#logo a:hover,.cat_list tr td,.noborder,.torrent_table td.group,img {
  border: none
}

#wrapper,.thin {
  width: 900px;
  margin: 0 auto
}

.number,.right {
  text-align: right
}

.number_column {
  text-align: center;
}

.pad {
  padding: 1em
}

.home .extrapad {
  padding: 0
}

tr {
  background-color: #2c2f36;
  border-bottom: 2px solid #2c2f36
}

tr.row {
  /* background-color: #none!important */
}

.search_form .submit,.filter_tickets .submit,.filter_torrents .submit {
  text-align: right;
  padding-top: 5px
}

.torrent_table tr.group {
  background-color: #3E4046;
}
.torrent_table tr.group_torrent,tr.torrent {
  background-color: #23252a;
}
tr.torrent:nth-of-type(even), tr.request:nth-of-type(even) {
  background-color: #272A2F;
}

.group_torrent span,.torrent_table tr.group_torrent .year {
  float: right
}

.tl_reported {
  color: #e85a5a;
}
.tl_free {
  color: gold;
}
.tl_seeding {
  color: #8DE88D;
}
.tl_snatched {
  color: orange;
}
.tl_leeching {
  color: #FF3E3E;
}

form tr {
  background-color: #2c2f36
}

#playbutton {
  position: relative!important;
  top: -138px!important;
  left: 0!important;
  margin-bottom: -110px!important
}

#tiptip_content {
  font-size: 1em!important;
  color: #fff!important;
  text-shadow: none!important;
  padding: 4px 8px;
  border: 2px solid #5b5e64!important;
  background-color: #373a42!important;
  background-image: none!important;
  border-radius: 0!important;
  -webkit-border-radius: 0!important;
  -moz-border-radius: 0!important;
  box-shadow: none!important;
  -webkit-box-shadow: none!important;
  -moz-box-shadow: none!important
}

#tiptip_arrow,#tiptip_arrow_inner {
  border: none!important
}

a.last_read > svg {
  fill: #909090;
  margin: 3px 6px;
}

.forum_index td {
  position: relative;
}
.forum_index td.read:after, #forums td.unread:after {
  content: "";
  position: absolute;
  height: 8px;
  width: 8px;
  top: 9px;
  left: 7px;
  border-radius: 1px;
}
.forum_index td.read:after{
  background-color: #20717C;
}
.forum_index td.unread:after {
  background-color: #47B39A;
}
.forum_list .forum_index td.read:after, #forums .forum_list td.unread:after {
  top: 14px;
}
.forum_index td.read_sticky:after, #forums td.unread_sticky:after,
.forum_index td.read_locked_sticky:after, #forums td.unread_locked_sticky:after {
  content: "";
  position: absolute;
  height: 0px;
  width: 0px;
  top: 9px;
  left: 6px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}
.forum_index td.read_sticky:after,
.forum_index td.read_locked_sticky:after {
  border-bottom: 10px solid #20717C;
}
.forum_index td.unread_sticky:after,
.forum_index td.unread_locked_sticky:after {
  border-bottom: 10px solid #47B39A;
}
.forum_index td.read_locked:before, #forums td.unread_locked:before,
.forum_index td.read_locked_sticky:before, #forums td.unread_locked_sticky:before {
  content: "";
  position: absolute;
  height: 2px;
  width: 8px;
  top: 12px;
  left: 7px;
  border-radius: 1px;
}
.forum_index td.read_locked:before,
.forum_index td.read_locked_sticky:before {
  background-color: #20717C;
}
.forum_index td.unread_locked:before,
.forum_index td.unread_locked_sticky:before {
  background-color: #47B39A;
}

.hide_torrents, .show_torrents {
  position: relative;
  cursor: pointer;
}
.hide_torrents > .show_torrents_link:after, .show_torrents > .show_torrents_link:after {
  content: "";
  position: absolute;
  width: 19px;
  height: 3px;
  top: 13px;
  left: 5px;
  border-radius: 2px;
  background-color: #74C796;
}
.show_torrents > .show_torrents_link:before {
  content: "";
  position: absolute;
  width: 3px;
  height: 19px;
  top: 5px;
  left: 13px;
  border-radius: 2px;
  background-color: #74C796;
}

.search_warning {
  fill: #AAA;
}

.dead {
  opacity: 0.7;
}

caption {
  border-bottom: 1px dashed #666;
  font-weight: bold;
}

tbody .staff_post {
  background: none;
  background-color: #634852;
}

.collage_image:hover {
  box-shadow: 0px 0px 0px 3px #88C796;
  position: relative;
}

/* Fucking noty */
.noty_bar {
	border-left: #3eaca7 2px solid;
}

#noty_bottomRight_layout_container li {
	background-color: #52555c !important;
	color: #E9E9E9 !important;
	border: none !important;
}

.noty_buttons {
	background-color: #2c2f36 !important;
	border-top: none !important;
}

.tag_parody {
	color: #e8ab3a !important;
}

.tag_character {
	color: #529e63 !important;
}

.tag_male {
	color: #3d77e2 !important;
}

.tag_female {
	color: #e896e8 !important;
}

.tex_img {
  filter: invert(100%);
}

/* Pink Additions */

body.style_pink .cats_anime:after { color: #78467f; }
body.style_pink .group .cats_anime { background-color: #78467f; }
body.style_pink .cats_movies:after { color: #4f3063; }
body.style_pink .group .cats_movies { background-color: #4f3063; }
body.style_pink .cats_manga:after { color: #9f5c9c; }
body.style_pink .group .cats_manga { background-color: #9f5c9c; }
body.style_pink .cats_games:after { color: #c871b9; }
body.style_pink .group .cats_games { background-color: #c871b9; }
body.style_pink .cats_other:after { color: #ef86d5; }
body.style_pink .group .cats_other { background-color: #ef86d5; }
body.style_pink a:hover { color: #db7bc7; }
body.style_pink ::selection,
body.style_pink ::-moz-selection {
  background: #8b518e;
}
body.style_pink button,
body.style_pink input[type=button],
body.style_pink input[type=submit] {
  background-color: #8b518e;
}
body.style_pink button:hover,
body.style_pink input[type=button]:hover,
body.style_pink input[type=submit]:hover {
  background-color: #643c72;
}
body.style_pink button:focus,
body.style_pink input[type=button]:focus,
body.style_pink input[type=submit]:focus {
  background-color: #78467f;
}
body.style_pink #userinfo_stats { color: #db7bc7; }
body.style_pink #menu > ul > li:nth-of-type(1) > a { background-color: #3b2655; }
body.style_pink #menu > ul > li:nth-of-type(2) > a { background-color: #4f3063; }
body.style_pink #menu > ul > li:nth-of-type(3) > a { background-color: #643c72; }
body.style_pink #menu > ul > li:nth-of-type(4) > a { background-color: #78467f; }
body.style_pink #menu > ul > li:nth-of-type(5) > a { background-color: #8b518e; }
body.style_pink #menu > ul > li:nth-of-type(6) > a { background-color: #9f5c9c; }
body.style_pink #menu > ul > li:nth-of-type(7) > a { background-color: #b367aa; }
body.style_pink #menu > ul > li:nth-of-type(8) > a { background-color: #c871b9; }
body.style_pink #menu > ul > li:nth-of-type(9) > a { background-color: #db7bc7; }
body.style_pink #menu > ul > li:nth-of-type(10) > a { background-color: #ef86d5; }
body.style_pink .alertbar { background-color: #4f3063; }
body.style_pink .hide_torrents > .show_torrents_link:after,
body.style_pink .show_torrents > .show_torrents_link:after,
body.style_pink .show_torrents > .show_torrents_link:before {
  background-color: #b367aa;
}
body.style_pink .forum_index td.read:after { background-color: #643c72; }
body.style_pink .forum_index td.unread:after { background-color: #db7bc7; }
body.style_pink .forum_index td.read_sticky:after,
body.style_pink .forum_index td.read_locked_sticky:after {
  border-bottom: 10px solid #643c72;
}
body.style_pink .forum_index td.read_locked:before,
body.style_pink .forum_index td.read_locked_sticky:before {
  background-color: #643c72;
}
body.style_pink .forum_index td.unread_sticky:after,
body.style_pink .forum_index td.unread_locked_sticky:after {
  border-bottom: 10px solid #db7bc7;
}
body.style_pink .forum_index td.unread_locked:before,
body.style_pink .forum_index td.unread_locked_sticky:before {
  background-color: #db7bc7;
}
body.style_pink .noty_bar {
	border-left: #ef86d5 2px solid;
}
body.style_pink .collage_image:hover {
  box-shadow: 0px 0px 0px 3px #ef86d5;
}

/* Haze Additions */

body.style_haze {
  background-color: #53565c;
  background-image: url('images/haze.png');
  background-attachment: fixed;
  background-size: cover;
}
body.style_haze #logo > a {  color: white;}
body.style_haze #searchbars {
  background-color: rgba(24,32,41,0.05);
}
body.style_haze #searchbars input {
  background: rgba(24,32,41,0.3);
  border: none;
}
body.style_haze #menu li:nth-child(1) a { background: rgba(24,32,41,0.7); }
body.style_haze #menu li:nth-child(2) a { background: rgba(24,32,41,0.65); }
body.style_haze #menu li:nth-child(3) a { background: rgba(24,32,41,0.6); }
body.style_haze #menu li:nth-child(4) a { background: rgba(24,32,41,0.55); }
body.style_haze #menu li:nth-child(5) a { background: rgba(24,32,41,0.5); }
body.style_haze #menu li:nth-child(6) a { background: rgba(24,32,41,0.45); }
body.style_haze #menu li:nth-child(7) a { background: rgba(24,32,41,0.4); }
body.style_haze #menu li:nth-child(8) a { background: rgba(24,32,41,0.35); }
body.style_haze #menu li:nth-child(9) a { background: rgba(24,32,41,0.3); }
body.style_haze #menu li:nth-child(10) a { background: rgba(24,32,41,0.25); }
body.style_haze #menu li a:hover { background: white; color: black; }
body.style_haze #userinfo_minor > li > ul { background: white; color: black; }
body.style_haze #alerts .alertbar {background: rgba(24,32,41,0.4);}
body.style_haze .colhead, body.style_haze .head {background: rgba(24,32,41,0.4);}
body.style_haze .colhead_dark {background: rgba(24,32,41,0.5);}
body.style_haze tr {background: rgba(75,75,75,0.35); border-bottom: none;}
body.style_haze .box {background: rgba(75,75,75,0.35) !important;}
body.style_haze select, body.style_haze input, body.style_haze textarea {background: rgba(24,32,41,0.3); border: none;}
body.style_haze table tbody a, body.style_haze .main_column a, body.style_haze .sidebar a, body.style_haze .box a { color: rgba(255,255,255,0.6); }
body.style_haze #userinfo_stats {color: rgba(255,255,255,0.6);}
body.style_haze #userinfo_stats a {color: rgba(255,255,255,0.6);}
body.style_haze #userinfo_stats .stat > span {color: white;}
body.style_haze #userinfo_stats .stat > a {color: white;}
body.style_haze .filter_torrents #ft_container tr {background: none;}
body.style_haze tr.torrent, body.style_haze tr.request {background-color: rgba(24,32,41,0.6);}
body.style_haze tr.torrent:nth-of-type(even), body.style_haze tr.request:nth-of-type(even) {background-color: rgba(24,32,41,0.4);}
body.style_haze tr.group {background-color: rgba(24,32,41,0.7);}
body.style_haze tr.group_torrent {background-color: rgba(24,32,41,0.75);}
body.style_haze .body {background: none;}
body.style_haze blockquote {background-color: rgba(24,32,41,0.4) !important; border: 1px solid rgba(255,255,255,0.36)}
body.style_haze h2 a {color: rgba(255,255,255,0.6);}
body.style_haze .linkbox a {color: rgba(255,255,255,0.7);}
body.style_haze .noty_bar {border-left: none;}
body.style_haze #noty_bottomRight_layout_container li {background-color: rgba(82, 85, 92, 0.59) !important}
body.style_haze .noty_buttons {background-color: rgba(44, 47, 54, 0.6) !important}
