<h3>Action templates</h3>

<form>

	<a class="button button-primary">create</a>

	<a class="button button-green">read</a>

	<a class="button button-orange">update</a>

	<a class="button button-red">delete</a>

</form>
