/**
 * colors
 */

$skeletonDefault: #33c3f0;
$skeletonFocus: #1eaedb;
$skeletonHalfdark: scale-color($skeletonFocus, $lightness: -50%);


/**
 * typography
 */

body {
  background: white;
  font-family: "NotoSans-SemiCondensed", sans-serif;

  b,
  strong {
    font-family: "NotoSans-SemiCondensedBold", sans-serif;
    font-weight: normal;
  }

  i,
  em {
    font-family: "NotoSans-SemiCondensedItalic", sans-serif;
    font-style: normal;
  }
}

/* text elements */
a {
  color: #222;
  /* skeleton */
  text-decoration: underline;

  &:hover {
    color: $skeletonDefault;
    text-decoration: none;
  }
}


/**
 * layout
 */

/*
header,
footer {
  height: 4.2rem;
  line-height: 4.2rem;
  max-width: 100%;
}
*/

header {
  height: 4.2rem;
  line-height: 4.2rem;
  max-width: 100%;

  background: $skeletonHalfdark;
  padding: 0 1%;
  position: sticky;
  text-align: right;
  top: 0;
  z-index: 1;

  a {
    color: white;
    text-decoration: none;
    margin: 0 1rem;

    &:hover {
      color: white;
      text-decoration: underline;
    }
  }
}

footer {
  margin: 5rem 0;
  text-align: center;

  p {
    margin-bottom: 0;
  }
}

figure#logo {
  height: 5rem;
  margin: 5rem;
  background-image: url("/images/logos/torrents.bio.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  &:after {
    content: "℠";
    font-size: 1.5rem;
    font-weight: normal;
    margin-left: 100%;
  }
}

form {
  display: flex;
  flex-flow: column wrap;
  gap: 2rem;

  a.button {
    margin-bottom: 0;
  }

  ul {
    list-style: none;
  }
}


/**
 * classes
 */

.mouseless {
  cursor: default;
  margin: 5rem;
}

.info {
  color: green;
  font-family: "NotoSans-SemiCondensedBold", sans-serif;
}

.error {
  color: red;
  font-family: "NotoSans-SemiCondensedBold", sans-serif;
}