/* Skeleton CSS */
$skeletonDefault: #33c3f0;
$skeletonFocus: #1eaedb;
$skeletonHalfdark: scale-color($skeletonFocus, $lightness: -50%);

/**
 * Typography
 */

body {
  background: white;
  color: black;
  font-family: "NotoSans-SemiCondensed", sans-serif;
  font-size: 1.2rem;

  b,
  strong {
    font-family: "NotoSans-SemiCondensedBold", sans-serif;
    font-weight: normal;
  }

  i,
  em {
    font-family: "NotoSans-SemiCondensedItalic", sans-serif;
    font-style: normal;
  }
}

/* Text elements */
a {
  color: black;
  text-decoration: underline;

  &:hover {
    color: $skeletonDefault;
    text-decoration: none;
  }
}

h2 {
  text-align: center;
}

/**
 * Layout
 */

main {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  gap: 1rem;
  margin: 5% auto;
  width: 90%;

  &:after {
    content: "";
    min-height: 100%;
  }
}

header,
footer {
  height: 4.2rem;
  line-height: 4.2rem;
  max-width: 100%;
}

header {
  background: $skeletonHalfdark;
  padding: 0 1%;
  position: sticky;
  text-align: right;
  top: 0;

  a {
    color: white;
    text-decoration: none;
    margin: 0 0.5rem;

    &:hover {
      color: white;
      text-decoration: underline;
    }
  }
}

footer {
  text-align: center;
}

#logo {
  width: 220px;
  height: 50px;
  background-image: url("/images/logos/torrents.bio.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin: 1rem auto;

  &:after {
    content: "℠";
    font-size: 1rem;
    font-weight: normal;
    margin-left: 100%;
  }
}

/**
 * Classes
 */

.mouseless {
  cursor: default;
}

.info {
  color: green;
  font-family: "NotoSans-SemiCondensedBold", sans-serif;
}

.error {
  color: red;
  font-family: "NotoSans-SemiCondensedBold", sans-serif;
}

/* Legal */
.tldr {
  width: 50%;
  height: 500px;
  overflow-y: scroll;
}
