/* Skeleton CSS */
$skeletonDefault: #33c3f0;
$skeletonFocus: #1eaedb;
$skeletonHalfdark: scale-color($skeletonFocus, $lightness: -50%);

/**
 * Typography
 */

body {
  background: white;
  color: black;
  font-family: "NotoSans-SemiCondensed", sans-serif;
  font-size: 1.2rem;

  b,
  strong {
    font-family: "NotoSans-SemiCondensedBold", sans-serif;
    font-weight: normal;
  }

  i,
  em {
    font-family: "NotoSans-SemiCondensedItalic", sans-serif;
    font-style: normal;
  }
}

/* Text elements */
a {
  color: black;
  text-decoration: underline;

  &:hover {
    color: $skeletonDefault;
    text-decoration: none;
  }
}

h2 {
  text-align: center;
}

/**
 * Layout
 */

header,
footer {
  height: 4.2rem;
  line-height: 4.2rem;
  width: 100%;
  background: $skeletonHalfdark;
  position: fixed;
  left: 0;

  a {
    color: white;
    text-decoration: none;
    margin: 0 0.5rem;

    &:hover {
      color: white;
      text-decoration: underline;
    }
  }
}

header {
  top: 0;
  text-align: right;
}

footer {
  bottom: 0;
  text-align: center;
}

main {
  width: 25%;
  height: calc(80% - 60px);
  margin: 0 auto;
  padding: 10% 0;
}

#logo {
  width: 220px;
  height: 50px;
  background-image: url("/images/logos/torrents.bio.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin: 1rem auto;

  &:after {
    content: "℠";
    font-size: 1rem;
    font-weight: normal;
    margin-left: 100%;
  }
}

/**
 * Classes
 */

.center {
  margin: auto;
  text-align: center;
  vertical-align: middle;
}

.hidden {
  display: none;
}

.mouseless {
  cursor: default;
}

/*
.login_form,
.create_form,
.notice {
    margin: auto;
    max-width: 220px;
}
*/

.info {
  color: green;
  font-family: "NotoSans-SemiCondensedBold", sans-serif;
}

.error {
  color: red;
  font-family: "NotoSans-SemiCondensedBold", sans-serif;
}

/* Legal */
.tldr {
  width: 200%;
  height: 500px;
  margin-left: -50%;
  overflow-y: scroll;
}
