/**
 * Icons
 *
 * All default sitewide icons:
 *  - category icons,
 *  - forum icons, and
 *  - badge styles.
 */

$cats: "assets/bioicons/";
$posts: "assets/forums/";
$nrcc: no-repeat center center;

@mixin scale() {
    background-size: contain;
}

/*
 * Category Icons
 */

.cats_sequences {
    background: url($cats + "sequences.png") $nrcc;
    @include scale;
}

.cats_graphs {
    background: url($cats + "graphs.png") $nrcc;
    @include scale;
}

.cats_systems {
    background: url($cats + "systems.png") $nrcc;
    @include scale;
}

.cats_geometric {
    background: url($cats + "geometric.png") $nrcc;
    @include scale;
}

.cats_scalars\/vectors {
    background: url($cats + "scalars_vectors.png") $nrcc;
    @include scale;
}

.cats_patterns {
    background: url($cats + "patterns.png") $nrcc;
    @include scale;
}

.cats_constraints {
    background: url($cats + "constraints.png") $nrcc;
    @include scale;
}

.cats_images {
    background: url($cats + "images.png") $nrcc;
    @include scale;
}

.cats_spatial {
    background: url($cats + "spatial.png") $nrcc;
    @include scale;
}

.cats_models {
    background: url($cats + "models.png") $nrcc;
    @include scale;
}

.cats_documents {
    background: url($cats + "documents.png") $nrcc;
    @include scale;
}

.cats_machinedata {
    background: url($cats + "machine_data.png") $nrcc;
    @include scale;
}

/* Shown on browse page */
.cats_col div {
    width: 3rem;
    height: 3rem;
}

/* Related? */
#cat-selector ul {
    width: 100%;
}

#cat-selector ul li {
    display: inline;
}

/* Shown on torrent details page */
h2.group_cat {
    width: 1rem;
    height: 1rem;
    background-size: 1rem 1rem;
    display: inline-block;
    margin: 0 0.5rem;
}

/**
 * Forum Icons
 */

.unread {
    background: url($posts + "unread.png") $nrcc;
}

.read {
    background: url($posts + "read.png") $nrcc;
}

.unread_locked {
    background: url($posts + "locked_unread.png") $nrcc;
}

.read_locked {
    background: url($posts + "locked_read.png") $nrcc;
}

.read_sticky {
    background: url($posts + "sticky_read.png") $nrcc;
}

.unread_sticky {
    background: url($posts + "sticky_unread.png") $nrcc;
}

.unread_locked_sticky {
    background: url($posts + "locked_sticky_unread.png") $nrcc;
}

.read_locked_sticky {
    background: url($posts + "locked_sticky_read.png") $nrcc;
}

/**
 * Badges
 */

img.badge {
    max-width: 16px;
    max-height: 16px;
}

a.badge_icon {
    white-space: nowrap;
}
