/* Layout (Torrents page) */

#site_debug td{
  border: 1px solid #666;
}

/* We're going to opt for the category icon method for now, tags_* is also available */
.cats_anime { width: 28px; height: 28px; background: url('images/anime.png') no-repeat center center; }
.cats_movies { width: 28px; height: 28px; background: url('images/movies.png') no-repeat center center; }
.cats_manga { width: 28px; height: 28px; background: url('images/manga.png') no-repeat center center; }
.cats_games { width: 28px; height: 28px; background: url('images/games.png') no-repeat center center; }
.cats_other { width: 28px; height: 28px; background: url('images/other.png') no-repeat center center; }
/* Global */
* {
	padding: 0em;
	margin: 0em;
}

html {
	width: 100%;
}

body {
	width: 100%;
	background-color: #EDDDE7;
	font-family: tahoma, helvetica, sans-serif;
	font-size: 8pt;
	color: #000;
	min-width: 850px;
}

/* Common elements */

a {
	text-decoration: none;
	border: none;
	color: #444;
}

a:hover {
	text-decoration: underline;
	color: #555;
}

.forum_post .body a:not([href="#"]), .rule_summary a, .wiki_article a, #actual_rules a, .news_post .pad a, .store_table a {
	text-decoration: none;
	border: none;
	color: #862A5E;
}

.forum_post .body a:hover:not([href="#"]), .rule_summary a:hover, .wiki_article a:hover, #actual_rules a:hover, .news_post .pad a:hover, .store_table a:hover {
	text-decoration: underline;
	border: none;
	color: #B65A8E;
}

h1,h2,h3,h4 {
	margin: 5px 0px;
	font-weight: bold;
}

h2 {
	text-align: center;
	font-size: 12pt;
}

h4 {
	font-size: 8pt;
}

p {
	margin: 10px 5px;
}

li {
	margin: 5px 15px;
}

input {
	padding: 2px 3px;
}

textarea {
	padding: 2px 3px;
}

img {
	border: none;
}

/* Styles generated by the BBCode parser */

span.size1 { font-size:0.75em; }
span.size2 { font-size:1em; }
span.size3 { font-size:1.25em; }
span.size4 { font-size:1.5em; }
span.size5 { font-size:1.75em; }
span.size6 { font-size:2em; }
span.size7 { font-size:2.25em; }
span.size8 { font-size:2.5em; }
span.size9 { font-size:2.75em; }
span.size10 { font-size:3em; }

ul.thin { margin:0px 0px 0px 25px; padding:0px; }
ul.thin li { margin:0px 0px; padding:0px; }

/* Layout (Every page) */

#header {
	width: 100%;
	padding: 0px 0 0 0;
	background: #fbc2e5;
	margin-bottom: 10px;
}

#content {
	margin: auto;
	margin-top: 10px;
/*	margin-top: 100px; */
	width: 90%;
	min-width: 872px;
	overflow: hidden;
}

#footer {
/*	margin-top: 40px; */
	margin-top: 10px;
	width: 100%;
	text-align: center;
	padding: 1em 0;
	opacity: 0;
	transition: ease-in-out 0.3s;
	transition-delay: 0.7s;
}
#footer:hover {
	opacity: 1;
}

#logo {
	width: 620px;
	height: 197px;
	background: url('images/logo.svg') no-repeat center center;
	margin: 0 auto;
}

#logo a {
	border: none;
	width: 100%;
	height: 197px;
	display: block;
}

#logo a:hover {
	border: none;
}

#menu {
/*	position: absolute;
	top: 226px; */
	width: 100%;
	padding: 0.6em 0;
	text-align: center;
	background-color: #461640;
	font-size: 10pt;
}

#menu ul li {
	position: relative;
	display: inline;
}

#menu ul li a {
	padding: 0.6em 1.1%;
	color: #fbc2e5;
	transition: ease-in-out 0.1s;
}

#menu ul li a.active {
	background-color: #565656;
}

#menu ul li a:hover {
	background-color: #7A3572;
	text-decoration: none;
}

#userinfo {
/*	position: absolute;
	top: 258px; */
	background: #fbc2e5;
	color: #444;
	padding: 4px 0px;
	width: 100%;
	text-align: center;
	font-size: 8pt;
	/* border-bottom: 1px solid #999; */
}

#userinfo img {
	margin-top: -5px;
}

#userinfo ul {
	display: inline;
	margin: 0px 0.8%;
}

#userinfo ul li {
	display: inline;
	margin: 0 0.1em;
	line-height: 20px;
	vertical-align: middle;
	padding: 0px;
}

#userinfo a {
	color: #222;
}
#userinfo a:hover {
	text-decoration: underline;
}

#userinfo b a {
	font-weight: normal;
	font-size: 0.9em;
	font-weight: bold;
}

#searchbars {
/*	position: absolute;
	top: 199px; */
	width: 100%;
	text-align: center;
	background-color: #7A3572;
	padding: 4px 0px;
	border-bottom: 2px solid #FBC2E5;
}

#searchbars input {
	position: relative;
	border: 1px solid transparent;
	padding: 2px 2px 2px 4px;
	font-size: 0.9em;
	background-color: #e0e0e0;
	color: #444;
}

#searchbars ul {
	margin: 0 auto;
	display: block;
	text-align: center;
}

#searchbars ul li {
	display: inline;
	margin: 0px 1px;
	list-style: none;
	position: relative;
}

#searchbars ul li ul {
	display: block;
	position: absolute;
	top: 1em;
	left: 0;
	z-index: 1000;
	background-color: #999;
	width: 12em;
	margin-top: 12px;
}

#searchbars ul li ul li {
	margin: 0 0 0 0;
	padding: 0;
	display: block;
	width: 100%;
}

#searchbars ul li ul li.highlight {
	background: #D7D7D7;
}

#searchbars ul li form {
	display: inline;
}

#alerts {
/*	margin-top: 85px;
	margin-bottom: -85px; */
	background: #EDDDE7;
/*	padding: 10px 0px; */
	margin: 10px 0px;
}

#cat-selector ul {
	width: 100%;
}

#cat-selector ul li {
	display: inline;
	width: 12em;
	height: 1em;
	float: left;
}

.alertbar {
	/* border: 1px solid #999; */
	background-color: #fbc2e5;
	text-align: center;
	color: #444;
	font-weight: bold;
	font-size: 0.95em;
	width: 350px;
	margin: 0 auto 0px auto;
	padding: 10px;
}
.alertbar a {
	color: #555;
	text-decoration: underline;
}
.alertbar a:hover {
	color: #777;
	text-decoration: none;
}

/* IE doesn't appear to like a simple display:none in our header. Random things start fucking up pretty badly. */
.hidden {
	position: absolute;
	left: -10000px;
}

input.hidden {
	position: absolute;
	display: none;
}

/* Layout (Any page) */


.thin {
	width: 850px;
	margin: 0px auto;
}

.widethin { /* overriding the thin class on torrents.php */
	width: 95% !important;
	margin: 0px auto;
}

#userinfo_major .brackets:before {
	font-weight: bold;
}

#userinfo_major .brackets:after {
	font-weight: bold;
}

#userinfo_minor {
	position: absolute;
	text-align: left;
}

#userinfo_minor > li > ul {
	display: none;
	position: absolute;
	padding: 5px;
	left: -5px;
	background-color: #FBC2E5;
	z-index: 100;
}

#userinfo #userinfo_minor li {
	display: block;
}

div.linkbox {
	text-align:center;
	padding: 5px;
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}

.min_padding {
	padding: 0px;
	margin: 0px 0px;
}

p.min_padding {
	margin: 2px 0px;
}

.pad {
	padding: 1em;
}

.slight_margin {
  margin: 4px;
}

.vertical_space {
	margin-bottom: 10px;
}

.box {
	font-size: 8pt;
	background-color: #EEE;
	/* border: 1px solid #666666; */
	border: none;
	margin-bottom: 10px;
}

.torrents_nomatch {
	margin-top: 10px;
}

.box2 {
	margin-bottom: 10px;
	font-size: 8pt;
	background-color: #EAEAEA;
	/* border: 1px solid #666666; */
	border: none;
}

.pad h3, .pad h4, .padbox h3, .padbox h4 {
	margin-top: 0px;
	padding-top: 0px;
}

.sidebar {
	float: right;
	width: 245px;
}

.head {
	padding: 4px;
	/* border-bottom: 1px solid #666; */
	/* background: #E1E1E1; */
	background: #EAABED;
	color: #333;
}

.body {
	padding: 3px 10px 10px 10px;
}

.main_column {
	width: 592px;
}

.main_column table {
	margin-bottom: 10px;
}

.tags {
	padding: 0px 0px 0px 20px;
	font-style: italic;
}

.tags a {
	color: #222;
}

.tags a:hover {
	color: #444;
	text-decoration: underline;
}

.noborder {
	border: none;
}

ul.nobullet, ul.nobullet li {
	list-style-type: none;
}

table {
	width: 100%;
	border-collapse: collapse;
	/* border: 1px solid #666666; */
}

tr {
	background-color: #EEE;
}

td, th {
	/* border: 1px solid #666666; */
	padding: 5px;
	text-align: left;
}

.colhead {
	background: #E197E5;
	font-weight: bold;
	color: #ffffff;
}

td.colhead, .colhead td, .colhead th {
	padding-left: 10px;
	padding-right: 10px;
}

.colhead .sign, .colhead_dark .sign {
	padding: 0px 8px 0px 8px;
	vertical-align: middle;
	text-align: center;
	font-size: 12pt;
	font-weight: bold;
}


.colhead .sign {
	padding: 0px 8px 0px 8px;
	font-size: 12pt;
	font-weight: bold;
}

.colhead_dark {
	/* background: #E1E1E1; */
	background: #E197E5;
	color: #333;
}
.forum_post .colhead_dark {
  background: #F1CDF4;
}

td.label {
	font-weight: bold;
	text-align: right;
	width: 180px;
}

table.slice {
	margin-top: -1px;
}

.error_message {
	border: 1px solid #666;
	padding: 3px 0px 3px 0px;
	background-color: #AF2525;
	text-align: center;
	color: white;
	font-weight: bold;
}

.save_message {
	border: 1px solid #666;
	padding: 3px 0px 3px 0px;
	background-color: #F4E649;
	text-align: center;
	color: #492802;
	font-weight: bold;
}

.elem_error {
	border: 3px solid #B00D0D;
}

.hidden {
	display: none;
}

ul.nobullet {
	display: inline-block;
}


/* Layout (home page) */

ul.stats li {
	padding: 0px 0px 1px 0px;
}

ul.poll li {
	padding: 0px 0px 0px 10px;
	margin: 0px;
	clear: left;
}

ul.poll li.graph {
	margin-bottom: 3px;
	padding-left: 20px;
}

/* Layout (Torrents page) */

.show_torrents {
	width: 21px;
	height: 28px;
	background: url('images/show2.png') no-repeat center center;
}

.hide_torrents {
	width: 21px;
	height: 28px;
	background: url('images/hide2.png') no-repeat center center;
}

.show_torrents_link {
	border: none;
	width: 28px;
	height: 28px;
	display: block;
	cursor: pointer;
}

.filter_torrents {
	width: 750px;
	margin: auto;
	background: #EEE;
}

.filter_torrents .submit {
	text-align: right;
	padding-top: 5px;
}

.filter_torrents .ft_cat_list {
	border-top: 1px solid #AAA;
	border-bottom: 1px solid #AAA;
}

#content form.search_form + .torrent_table {
	margin-top: 20px;
}

#content form.search_form .submit {
	text-align: center;
}

.cat_list tr td {
	border: none;
}

.torrent_table tr {
	/* vertical-align: top; */
	vertical-align: middle;
}

.torrent_table .number_column {
  text-align: center;
}

.torrent_table, .torrent_table td {
	border: none;
}

.torrent_table tr.torrent, .torrent_table tr.group {
	font-weight: bold;
}

.torrent_table tr.group {
	background-color: #cfcfcf;
}
.torrent_table tr.group_torrent {
	background-color: #fafafa;
}
.torrent_table tr.torrent {
	background-color: #ddd;
}

.torrent_table tr.group td.center:first-child {
  padding: 3px;
	width: 21px;
}
.torrent_table tr.torrent:nth-child(2n) {
  background-color: #FAD1E3;
}
.torrent_table tr.torrent:nth-child(2n-1) {
  background-color: #EDC5F4;
}
.torrent_table tr.group {
  background-color: #F8B8FF;
}

.torrent_table div.tags {
	font-weight: normal;
	max-width: 500px;
}

.torrent_table tr .center, #collage_table td {
	vertical-align: middle;
	text-align: center;
}

.group_torrent span {
	float: right;
}

.torrent span {
	font-weight: normal;
	float: right;
}

.nobr {
	white-space: nowrap;
}

/* Layout (Forums) */

.last_read {margin-left: 5px; fill: #A9A9A9;}
.colhead_dark .last_read {fill: #DC86E0;}

.unread_locked_sticky{background: url(images/locked_sticky_unread.png) no-repeat center center;}
.read_locked_sticky{background: url(images/locked_sticky_read.png) no-repeat center center;}
.read_sticky{background: url(images/sticky_read.png) no-repeat center center;}
.unread_sticky{background: url(images/sticky_unread.png) no-repeat center center;}
.unread_locked{background: url(images/locked_unread.png) no-repeat center center;}
.read_locked{background: url(images/locked_read.png) no-repeat center center;}
.unread{background: url(images/unread.png) no-repeat center center;}
.read{background: url(images/read.png) no-repeat center center;}
strong.quoteheader {color: #000;}

tr.row:nth-of-type(odd) {
  background-color: #E2E2E2;
}

table.forum_post {
	margin: 10px 0px;
}

table.forum_post td {
	/* border: 1px solid #666; */
	border: none;
}

table.forum_unread {
	border: 2px solid #F0BBD6;
}

td.avatar {
	width: 150px;
	padding: 0px;
}

.box_description > div:not(.head) {
	max-height: 400px;
	overflow-y: scroll;
}
.box_description, table.forum_post td.body {
	word-break: break-word;
	word-wrap: break-word;
	display: inline-block;
}
.box_description {
	width: 100%;
}
.thin > table.forum_post td.body {
	width: 690px;
}
#torrent_comments table.forum_post td.body {
	width: 422px;
}

blockquote {
	margin: 10px;
	padding: 10px;
	/* border: 1px dashed #666; */
	border: 1px solid #BBB;
}


/* Layout (Inbox) */


tr.unreadpm {
	background-color: #ECC;
}

/* Layout (Permission Page) */

.permission_head {
	width: 400px;
	margin-left: auto;
	margin-right: auto;
}

.permissions {
	width: 930px;
	margin-left: auto;
	margin-right: auto;
}

.permission_container {
	float: left;
	width: 300px;
	padding: 5px;
}
.permission_container input {
	margin: 0px 3px 5px 0px;
	vertical-align: top;
}

.submit_container {
	clear: both;
	text-align: right;
}

/* Layout (Invite tree) */

ul .invitetree {
	margin: 0px 0px 0px 25px;
}

.invitetree li {
	list-style: none;
	margin: 10px 2px;
}

/* Layout (User options) */

.user_options .options_list li {
	margin: 0;
}

/* Layout (MISC) */

.left_poll {
	display: none;
	width: 2px;
	height: 9px;
	float: left;
	margin: 0px;
	padding: 0px;
}

.center_poll {
	height: 9px;
	background: #C5D1FF;
	border-radius: 4px;
	float: left;
	margin: 0px;
	padding: 0px;
}

.right_poll {
	display: none;
	width: 2px;
	height: 9px;
	float: left;
	margin: 0px;
	padding: 0px;
}

.curtain {
	position: fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index: 1001;
	-moz-opacity: 0.8;
	opacity: .80;
	filter: alpha(opacity=80);
}

.lightbox {
	position: fixed;
	text-align: center;
	top: 5%;
	left: 5%;
	width: 90%;
	height: 90%;
	padding: 0px;
	z-index: 1002;
	overflow: auto;
}

.center {
	text-align: center;
}

.spellcheck {
	margin: 25px 0;
	font-size: 1.25em;
	font-weight: bold;
}

tr.torrent .bookmark > a:before {
	color: black;
}
tr.torrent .bookmark > a:after {
	color: black;
}

.field_div {
	margin-bottom: 10px;
}

.edit_changelog textarea {
	width: 600px;
}

.brackets {
	font-weight: normal;
}

div[class~=tooltipster-content] > a {
	color: #AAAAAA;
}

.post_id {
	font-weight: normal;
}

.vote_tag_up, .vote_artist_up, .vote_album_up, .small_upvote, .small_upvoted {
	color: green;
}

.vote_tag_down, .vote_artist_down, .vote_album_down, .small_downvote, .small_downvoted {
	color: red;
}

/* get rid of extraneous padding in the Top Contributors box */
#request_top_contrib {
	border: none;
}
#request_top_contrib tr:first-child th {
	border-top: 0;
}
#request_top_contrib tr:last-child td {
	border-bottom: 0;
}
#request_top_contrib tr td:first-child,
#request_top_contrib tr th:first-child,
#request_top_contrib tr td:nth-child(2),
#request_top_contrib tr th:nth-child(2) {
	border-left: 0;
	border-top: 0;
}
#request_top_contrib tr td:last-child,
#request_top_contrib tr th:last-child {
	border-right: 0;
}

#requests table.layout.cat_list {
  border-bottom: 1px solid #AAA;
  border-top: 1px solid #AAA;
}
#requests tr#media_list {
  border-bottom: 1px solid #AAA;
  border-top: 1px solid #AAA;
}
#request_table {
	margin-bottom: 5px;
}
#request_table .request:nth-of-type(odd){
  background: #FAD1E3;
}
#request_table .request:nth-of-type(even){
  background: #EDC5F4;
}

/* workaround for calendar display issue */
div.sidebar #event_div {
	margin-left: -232px;
}

ol {
	margin-left: 1em;
}

#forum_search_cat_list {
	border: none;
}

#coverCont {
  background-color: #FF5AA5;
	padding: 5px;
	box-shadow: 0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12),0 2px 4px -1px rgba(0,0,0,.2);
}
#coverCont img {
  background-color: #FFD2E6;
}
.torrent_info {
  font-size: 100%;
  font-weight: 100;
}
.group_info > a:last-of-type {
  text-decoration: underline;
}

.recent_snatches_images, .recent_uploads_images {
	position: relative;
}

.edit_tags_votes {
	padding-left: 5px;
}

.row_hl {
	background-color: #EED5F1;
}

input.inputtext {
	border: none;
	border-bottom: 1px solid #AAA;
	background-color: rgba(0, 0, 0, 0);
	font-size: 13px;
	outline: none;
	transition: ease-in-out 0.12s;
}
input.inputtext:focus {
	border-bottom: 1px solid #E197E5;
}
.collage_images .collage_image {
	margin: 1px;
	width: 121px;
	display: inline-block;
}

.box, .border, .alertbar, .artist_table, .request_table, .forum_index, #userinfo_minor > li > ul, .permissions table {
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
#userinfo {
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -2px rgba(0, 0, 0, 0.2), 0 0px 5px 0 rgba(0, 0, 0, 0.12);
}

.last_edited {
	font-size: 10px;
	opacity: 0.7;
}

#comm_badge_tr .badge_icon, #user_badge_edit_tr .badge_icon {
	margin-right: 1em;
	margin-left: 2px;
}

.store_table .badge_icon {
	display: inline-block;
	width: 16px;
}

.store_table .badge_icon img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.hnr-yes {
	color: red;
}
.hnr-no {
	color: green;
}

.webm {
	max-width: 100%;
}

.nip_gift_box p {
	margin: 7px 2px 0px;
}
.nip_gift_box input[type="text"], .nip_gift_box textarea {
	width: 100%;
	box-sizing: border-box;
	margin-bottom: 3px;
}
.dead {
  opacity: 0.6;
}
.search_warning {
  fill: #E197E5;
}

.tl_reported {
	color: red;
}

.tl_snatched {
	color: #C35C1C;
}
.tl_leeching {
	color: #BD0D0D;
}
.tl_seeding {
	color: #068206;
}
caption {
	border-bottom: 1px solid #BBB;
	font-weight: bold;
}
