{# archive #}
<tr>
	<th>
		<label for="archive" class="required">Archive</label>
	</th>

	<td>
		<select name="archive" class="select">
			<option value="">The compression algorithm, if any</option>
			{% for key, value in env.META.Formats.Archives %}
				<option value="{{ key }}">{{ key }}</option>
			{% endfor %}
		</select>
	</td>
</tr>
