{# creatorList #}
<tr id="artists_tr">
	<th>
		<label for="artistfields" class="required">
			Creator(s)
		</label>
	</th>

	<td id="artistfields">
		<input type="text" class="tomSelect" value="{{ value }}" placeholder="Comma separated list of creators"/>
	</td>
</tr>
