{# formats #}
{% for key, value in env.CATS %}
	<tr id="{{ value.Name|camel }}Format">
		<th>
			<label for="format" class="required">Format</label>
			{# <label for="format" class="required">Format ({{ value.Name }})</label> #}
		</th>

		<td>
			<select name="format" class="select">
				<option value="">The data's main file format</option>
				{% for trash, fileTypes in value.Formats %}
					{% for name, extensions in fileTypes %}
						<option value="{{ name }}">{{ name }}</option>
					{% endfor %}
				{% endfor %}
			</select>
		</td>
	</tr>
{% endfor %}
