{# groupDescription #}
{% if newTorrent %}
	<tr>
		<th>
			<label for="groupDescription" class="required">{{ db.name }}</label>
		</th>

		<td>
			{% set variables = {"id": "groupDescription", "name": "groupDescription", "placeholder": db.desc, "value": value, "required": true} %}
			{% include "_base/textarea.twig" with variables %}
		</td>
	</tr>
{% endif %}
