{# identifier #}
<tr id="javdb_tr">
	<th>
		<label for="catalogue">
			{{ db.name }}
		</label>
	</th>

	<td>
		<input type="text" id="catalogue" name="catalogue" placeholder="{{ db.desc }}" value="{{ value }}"/>
	</td>
</tr>
