<tr id="codec_tr">
	<th>
		<label for="codec" class="required">
			License
		</label>
	</th>

	<td>
		<select name="codec" class="tomSelect">
			<option>---</option>
			{% for item in env.META.Licenses %}

				<option value="{{ item }}">{{ item }}</option>
			{% endfor %}
		</select>

		<p>
			Please see
			<a href="http://www.dcc.ac.uk/resources/how-guides/license-research-data" target="_blank">How to License Research Data</a>
		</p>
	</td>
</tr>
