{# license #}
<tr>
	<th>
		<label for="license" class="required">
			License
		</label>
	</th>

	<td>
		<select name="license" class="select">
			<option value="">Only libre licenses are supported ;)</option>
			{% for item in env.META.Licenses %}

				<option value="{{ item }}">{{ item }}</option>
			{% endfor %}
		</select>

		<aside>
			Please see
			<a href="http://www.dcc.ac.uk/resources/how-guides/license-research-data" class="external" target="_blank">How to License Research Data</a>
		</aside>
	</td>
</tr>
