{# location #}
{% if newTorrent %}
	<tr>
		<th>
			<label for="location">{{ db.name }}</label>
		</th>

		<td>
			<input type="text" id="location" name="location" maxlength="128" placeholder="{{ db.description }}" value="{{ value }}">
		</td>
	</tr>
{% endif %}
