{# location #}
<tr id="series_tr">
	<th>
		<label for="series">{{ db.name }}</label>
	</th>

	<td>
		<input type="text" id="series" name="series" placeholder="{{ db.desc }}" value="{{ value }}"/>
	</td>
</tr>
