{# notice #}
{% if newTorrent %}
	<div class="alertbar info">
		Please consult the
		<a href="/rules/upload">Upload Rules</a>
		and the
		<a href="/wiki.php?action=article&name=categories">Categories Wiki</a>
		to help fill out the upload form correctly.
																																																													
		The site adds the Announce and Source automatically.
		Just download and seed the new torrent after uploading it.
	</div>
{% endif %}
