{# notice #}
{% if newTorrent %}
	<div class="alertbar info">
		The site automatically adds the Announce and Source fields.
		Simply download and seed the new torrent after you upload it.
	</div>
{% endif %}
