{# picture #}
{% if newTorrent %}
	<tr>
		<th>
			<label for="picture">{{db.name }}</label>
		</th>

		<td>
			<input type="text" id="picture" name="picture" maxlength="255" placeholder="{{ db.desc }}" value="{{ value }}">
		</td>
	</tr>
{% endif %}
