{# seqhash #}
{% if newTorrent and env.FEATURE_BIOPHP %}
	<tr id="seqhashRow">
		<th>
			<label for="seqhash">{{ db.name }}</label>
		</th>

		<td>
			<textarea name="seqhash" id="seqhash" placeholder="{{ db.desc }}">{{ value }}</textarea>

			<div class="flexRow">
				{# dna #}
				<span>
					<input type="radio" id="dna" name="seqhashAlphabet" value="dna" checked/>
					<label for="dna">DNA</label>
				</span>

				{# rna #}
				<span>
					<input type="radio" id="rna" name="seqhashAlphabet" value="rna"/>
					<label for="rna">RNA</label>
				</span>

				<span>
					<input type="radio" id="protein" name="seqhashAlphabet" value="protein"/>
					<label for="protein">Protein</label>
				</span>
			</div>

			<div class="flexRow">
				{# linear #}
				<span>
					<input type="radio" id="linear" name="seqhashShape" value="false" checked/>
					<label for="linear">Linear</label>
				</span>

				{# circular #}
				<span>
					<input type="radio" id="circular" name="seqhashShape" value="true"/>
					<label for="circular">Circular</label>
				</span>
			</div>

			<div class="flexRow">
				{# double-stranded #}
				<span>
					<input type="radio" id="doubleStranded" name="seqhashHelix" value="doubleStranded" checked/>
					<label for="doubleStranded">Double-stranded</label>
				</span>

				{# single-stranded #}
				<span>
					<input type="radio" id="singleStranded" name="seqhashHelix" value="singleStranded"/>
					<label for="singleStranded">Single-stranded</label>
				</span>
			</div>

			<aside>{{ db.note|raw }}</aside>

		</td>
	</tr>
{% endif %}
