{# actions #}
<section>
	<h3>Actions</h3>

	<form>
		<input type="text" id="doiNumberInput" placeholder="e.g., 10.1128/mr.49.3.181-213.1985">

		<a id="doiNumberAutofill" class="button button-primary">
			autofill by doi
			<span id="autofillLoader" class="loaderLight"></span>
		</a>

		<hr/>

		{# todo: worry about this later #}
		{# <a id="validateForm" class="button button-green">validate form</a> #}

		<a href="/rules/upload" target="_blank" class="button ">upload rules</a>

		<a href="/wiki.php?action=article&name=categories" target="_blank" class="button ">categories wiki</a>

		<aside>
			Please make sure to validate your upload and consult the rules.
			Not doing so may result in a
			<span class="error">warning</span>!
		</aside>

		<hr/>

		<a href="/requests.php" target="_blank" class="button button-orange">search requests</a>

		<aside>
			After uploading a torrent, you have a one hour grace period.
			During this time, only you can fill requests with the torrent.
			Past that hour, anyone can claim request bounty with your upload.
		</aside>

		<hr/>

		<a href="#bottom" class="button">bottom</a>

	</form>
</section>
