{# torrentFile #}
<tr>
	<th>
		<label for="torrentFile" class="required">Torrent file</label>
	</th>

	<td>
		<input type="file" id="torrentFile" name="torrentFile" required/>

		<aside>
			Set the private flag, e.g.,
			<br/>
			<code>mktorrent -p -a {announce} {data}</code>
		</aside>
	</td>
</tr>
