{# version #}
<tr>
	<th>
		<label for="version">{{ db.name }}</label>
	</th>

	<td>
		<input type="text" id="version" name="version" maxlength="32" placeholder="{{ db.desc }}" value="{{ value }}">

		<aside>{{ db.note|raw }}</aside>
	</td>
</tr>
