<tr id="studio_tr">
	<th>
		<label for="studio" class="required">{{ db.name }}</label>
	</th>

	<td>
		<input type="text" id="studio" name="studio" placeholder="{{ db.desc }}" value="{{ value }}"/>
	</td>
</tr>
