{# year #}
<tr id="year_tr">
	<th>
		<label for="year" class="required">{{ db.name }}</label>
	</th>

	<td>
		<input type="text" id="year" name="year" maxlength="4" placeholder="{{ db.desc }}" value="{{ value }}"/>
	</td>
</tr>
