/**
 * Main
 */

#menu {
  font-size: 1rem;
  text-align: center;
  width: 100%;
}

#menu > ul {
  display: flex;
  width: 80%;
  margin: 0 auto;
}

#menu > ul > li {
  display: flex;
  flex: 1 1 auto;
  height: 2.5rem;
  margin: 0;
  position: relative;
}

#menu ul > li > a {
  padding: 0.5rem 0;
  display: inline-block;
  width: 100%;
  transition: ease-in-out 0.1s;
  text-decoration: none;
}

#nav_links {
  max-width: 2.5rem;
}

/* Dropdown */
#menu .nav_dropdown {
  margin-top: 0;
  backdrop-filter: blur(1rem);
}

.nav_dropdown > div {
  position: absolute;
  width: 100%;
  z-index: 99999;
  margin-top: 2.5rem;
  left: 0;

  /* postmod.scss */
  font-family: Helvetica, Arial, sans-serif;
  background: url($images + "content.png") transparent;
  color: #fff;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}

#nav_links > #links_menu {
  width: 8rem;
  margin-left: -4rem;
}

.nav_dropdown > div > a {
  display: none;
  height: 2.5rem;
  line-height: 2.5rem;
  text-decoration: none;

  &:hover {
    border-bottom: 0 !important;
    color: #efb34a !important;
  }
}

.nav_dropdown:hover > div > a {
  display: block;
}

/**
 * Search bars
 */
#searchbars {
  text-align: center;
  box-sizing: content-box;
  padding: 0.5rem 10%;
  display: flex;
}

#searchbars input {
  box-sizing: border-box;
  padding: 0.25rem;
  width: 100%;
}

/**
 * Upload, Invite, etc.
 */
#userInfo {
  padding: 0.5em 0;
  width: 100%;
  text-align: center;
}

#userInfo ul {
  display: inline;
  margin: 0 1%;

  li {
    display: inline;
    margin: 0 0.1rem;
    line-height: 2rem;
    vertical-align: middle;
    padding: 0;
  }
}
