/**
 * https://gist.github.com/aaronice/5c083b9a8a3cbee29c7cd6bf3c708233
 */

body.darkMode {
  background-color: #222 !important;
  filter: contrast(90%) invert(90%) hue-rotate(180deg) !important;

  img,
  video,
  iframe,
  canvas,
  svg,
  embed[type="application/x-shockwave-flash"],
  object[type="application/x-shockwave-flash"],
  *[style*="url("] {
    filter: invert(110%) hue-rotate(-180deg) !important;
  }
}
