/* Debug */
#site_debug td {
  border: 1px solid #222;
}

/* Dead torrents */
.dead {
  opacity: 0.5;
}

/* No DB key warning */
#dbcrypt {
  position: fixed;
  top: 10px;
  right: 10px;

  &:after {
    content: "!";
    display: block;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 20px;
    font-weight: 600;
    color: #222;
    background: red;
    border-radius: 100px;
  }
}
