/* font size wrappers */
.x-small {
  font-size: x-small;
}

.small {
  font-size: small;
}

.medium {
  font-size: medium;
}

.large {
  font-size: large;
}

.x-large {
  font-size: x-large;
}

/* wikipedia-style external links */
a.external {
  background-image: url("/images/symbols/external-link-ltr-icon.svg");
  background-position: center right;
  background-repeat: no-repeat;
  padding-right: 13px;
}


/**
 * breadcrumbs
 */

h2#breadcrumbs {
  li {
    display: inline;
    list-style: none;
    margin: 0;
  }
}

h2#pageTitle {
  padding-top: 5rem;
}


/**
 * spacing classes
 */

.center {
  margin: auto;
  text-align: center;
  vertical-align: middle;
}

.left {
  float: left;
  text-align: left;
}

.right {
  /* float: right; */
  text-align: right;
}

.nobr {
  white-space: nowrap;
}

/* Brackets [Bookmark] */
.brackets {
  cursor: pointer;
  text-indent: 0px;
  white-space: nowrap;

  &:before {
    content: "[";
  }

  &:after {
    content: "]";
  }
}

/* GPG keys */
#publickey {
  font-family: monospace;
  width: initial;
}

/* <pre> spacing fixes */
code,
pre {
  white-space: pre-wrap;

  br {
    display: none;
  }
}


/**
 * torrent form
 */

.torrent_form {
  label {
    font-weight: bold;
  }

  .required {
    &:after {
      color: red;
      content: "*";
    }
  }
}

/* good/bad examples on rules pages */
.important_text {
  color: red;
  font-weight: bold;
}

.important_text_alt {
  color: green;
  font-weight: bold;
}

.important_text_semi {
  color: orange;
  font-weight: bold;
}

.invalid,
.warning,
.error,
.new {
  color: red;
}


/**
 * ordered lists
 * https://stackoverflow.com/a/2730079
 */

/* no IE6/7 */
html>

/**/
body ol {
  list-style-type: none;
  counter-reset: level1;
}

ol li:before {
  content: counter(level1) ". ";
  counter-increment: level1;
}

ol li ol {
  list-style-type: none;
  counter-reset: level2;
}

ol li ol li:before {
  content: counter(level1) "." counter(level2) " ";
  counter-increment: level2;
}


/**
 * unordered lists
 */

ul {
  &.nobullet li {
    list-style: none;
    margin: 0;
  }
}

/* disclaimer */
.halfwide {
  max-width: 50%;
  margin: auto;
  text-align: center;
}

/* details and summary (HTML5) */
details {
  font-weight: normal;
}

summary {
  font-weight: bold;
}