/**
 * sidebar actions
 */
#sidebar {
  form {
    display: flex;
    flex-flow: column wrap;
    gap: 2rem;

    a.button {
      margin-bottom: 0;
    }

    ul {
      list-style: none;
    }
  }
}

/**
 * upload form
 */

.torrent_form {
  input[type="text"],
  textarea {
    width: 100%;
  }

  #creatorList,
  #literature,
  #seqhash {
    width: 100%;
    height: 20rem;
  }

  label:not(.seqhash) {
    float: right;
  }

  tr {
    vertical-align: top;
  }

  th {
    width: 33%;
  }

  .required {
    &:after {
      color: red;
      content: " *";
    }
  }

  /* extra info */
  aside {
    margin-top: 1rem;
  }

  /* seqhash mini form */
  .flexRow {
    margin-top: 1rem;
    display: flex;
    flex-flow: row nowrap;
    gap: 2rem;

    input[type="radio"] {
      margin: 0.5rem;
    }
  }

  #seqhashTable {
    margin-top: 1rem;
    margin-bottom: 0;

    input[type="radio"] {
      margin: 0.5rem;
    }
  }
}
