/* sidebar */
#sidebar {
    form {
        display: flex;
        flex-flow: column wrap;
        gap: 2rem;

        a.button {
            margin-bottom: 0;
        }

        ul {
            list-style: none;
        }
    }
}