/**
 * sidebar actions
 */
#sidebar {
  form {
    display: flex;
    flex-flow: column wrap;
    gap: 2rem;

    a.button {
      margin-bottom: 0;
    }

    ul {
      list-style: none;
    }
  }
}

/**
 * upload form
 */

.torrent_form {
  input[type="text"] {
    width: 100%;
  }

  label {
    float: right;
  }

  tr {
    vertical-align: top;
  }

  th {
    width: 33%;
  }

  .required {
    &:after {
      color: red;
      content: "*";
    }
  }
}
