/**
 * main column and sidebar
 * NOW DONE BY SKELETON.CSS
 */

/* override main skeleton resolution */
.container {
  max-width: 1920px !important;
}

#content,
#sidebar {
  padding: 1rem;
}

/* Box: soon to be <section> */
.box {
  margin-bottom: 2rem;
}

/*
 * Flex elements
 */

.flex {
  display: flex;
}

/* Grow and shrink */
.flex>.grow {
  flex-grow: 1;
}

.flex>.shrink {
  flex-shrink: 1;
}

/* Text input */
.flex_input_container {
  display: flex;
}

.flex_input_container>input[type="text"] {
  flex-grow: 1;
  box-sizing: border-box;
  width: 50%;
}

/**
 * Section elements
 */
.style_addition input {
  margin-left: 0.5rem;
}

/**
 * Aside elements
 */
aside {
  max-width: 66%;

  p {
    text-align: center;
  }

  /**
   * "Please consult the Upload Rules"
   * admonishment on torrent_form.class.php.
   */
  &.upload_notice {
    @include transparent-border($c: red, $a: 0.5);
    margin: 1rem auto;
    padding-top: 1rem;
    text-align: center;
  }

  /* Announce and source */
  &.announce_source,
  &.torrent_upload {
    margin: 1rem auto;
  }

  /* Torrent upload error */
  &.upload_error {
    color: red;
    margin: 2rem auto;
    font-size: larger;
  }
}

/**
 * Footer
 */

footer {
  margin-top: 2rem;
  width: 100%;

  p {
    text-align: center;
  }
}

/*
 * Misc
 */

.hidden {
  display: none;
}

.invisible {
  visibility: hidden;
}

/* Permissions form submit button */
.submit_container {
  clear: both;
  margin: 1rem;
  text-align: right;
}

/* Textarea */
.textarea_wrap {
  margin-bottom: 0.5rem;
}

.textarea_wrap:last-of-type {
  margin-bottom: 0;
}

/* Images */
img {
  border: none;
}

.webm {
  max-width: 100%;
}

/* Donor hearts and badges */
.donor_icon {
  margin-left: 2px;
  margin-right: 2px;
  max-width: 16px;
  max-height: 16px;
  position: relative;
}

.badge_icon {
  margin: 0px 2px;
  position: relative;
}

.donation_info {
  padding: 10px 10px 10px 20px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
}

.donation_info_title {
  display: block;
  font-size: 1.75em;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-weight: bold;
  margin: 10px 0;
}

/* Image dimension limits */
img {
  max-width: 100%;
}

/* Covers */
#coverCont {
  position: fixed;
  max-width: 30%;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 9999;
}

#coverCont img {
  max-width: 100%;
}

#covers img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/**
 * Donate button
 * PNG to avoid the botnet
 */
.donate_button {
  margin: 2rem auto;

  img {
    height: 2rem;
  }
}

/* User and torrent stats */
.pulsating-circle {
  height: 10px;
  left: 50%;
  position: absolute;
  top: 50%;
  width: 10px;

  &:before {
    --tw-bg-opacity: 1;
    -webkit-animation: pulse-ring 3s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
    animation: pulse-ring 3s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
    background-color: #9ae6b4;
    background-color: rgba(16, 185, 129, var(--tw-bg-opacity));
    border-radius: 45px;
    box-sizing: border-box;
    content: "";
    display: block;
    height: 300%;
    margin-left: -100%;
    margin-top: -100%;
    position: relative;
    width: 300%;
  }

  &:after {
    --tw-bg-opacity: 1;
    -webkit-animation: pulse-dot 3s cubic-bezier(0.455, 0.03, 0.515, 0.955) -0.4s infinite;
    animation: pulse-dot 3s cubic-bezier(0.455, 0.03, 0.515, 0.955) -0.4s infinite;
    background-color: #fff;
    background-color: rgba(16, 185, 129, var(--tw-bg-opacity));
    border-radius: 15px;
    content: "";
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

/*
.chart {
  max-height: 50rem;
}
*/