/* todo: map selectors to message types */
.log1 {
  color: purple;
}

.log2 {
  color: yellow;
}

/* edited */
.log3 {
  color: blue;
}

.log4 {
  font-weight: bold;
}

.log5 {
  text-decoration: underline;
}

/* added */
.good {
  color: green;
  font-weight: bold;
}

/* deleted */
.bad {
  color: red;
  font-weight: bold;
}

.goodish {
  font-weight: bold;
  color: scale-color(green, $alpha: 50%);
}

.badish {
  font-weight: bold;
  color: orange;
}
