/**
 * main navigation menu
 */

/* desktop */
@media (orientation: landscape) {
  #subMenu {
    .subMenuHeader {
      &:before {
        margin-right: 1rem;
      }
    }
  }
}

/* mobile */
@media (orientation: portrait) {
  #subMenu {
    .subMenuElement {
      display: flex;
      flex-flow: row nowrap;
      align-items: baseline;
      justify-content: space-between;
      margin: 0 5rem;
    }

    ul {
      li {
        display: inline;
      }
    }
  }
}

#mainMenu {
  display: flex;
  flex-flow: row nowrap;
  gap: 2rem;
  align-items: center;
  justify-content: space-between;
  margin: 2rem;

  #logo {
    order: 0;
    background: url("/images/logos/colorfulWaves-whiteShadow-2k.webp");
    background-size: contain;
    border: 0.25rem solid whitesmoke;
    border-radius: 50%;
    width: 5rem;
    height: 5rem;

    a {
      display: block;
      height: 5rem;
    }
  }

  .spacer {
    flex-grow: 666;
  }

  #universalSearch {
    display: inline-flex;
    flex-flow: row nowrap;
    gap: 2rem;
    margin-bottom: 0;
  }

  #hamburger {
    font-size: xx-large;

    #toggleIcon {
      cursor: pointer;
    }
  }
}

#subMenu {
  display: flex;
  flex-flow: row wrap;
  gap: 2rem 5rem;
  justify-content: space-around;
  margin: 2rem auto;

  #torrentsHeader {
    &:before {
      content: "🌊";
    }
  }

  #ecosystemHeader {
    &:before {
      content: "🏕️";
    }
  }

  #moreHeader {
    &:before {
      content: "🔔";
    }
  }

  #communityHeader {
    &:before {
      content: "📣";
    }
  }

  #userHeader {
    &:before {
      content: "👤";
    }
  }

  ul {
    list-style-type: none !important;
    margin-left: 3.5rem;
  }

  a {
    color: #222;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

/**
 * main user info bar
 */

#userInfo {
  display: inline-flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 2rem;

  color: #222;
  text-align: center;
  width: 100%;

  a {
    color: #222;
    text-decoration: none;

    &:hover:not(.conversationButton) {
      text-decoration: underline;
    }
  }

  ul {
    display: inline;
    margin: 0 1%;

    li {
      display: inline;
      margin: 0 0.1rem;
      line-height: 2rem;
      vertical-align: middle;
      padding: 1rem;
    }
  }

  .conversationButton {
    margin-right: 1rem;
  }
}

/**
 * optional sticky header
 */

header.sticky {
  position: sticky;
  top: 0;
  background: white;
  z-index: 666;
}