/**
 * fixes needed to use skeleton.css
 * to its best no-fuss advantage
 */


/**
 * set heading font size
 *
 * h1 { font-size: 5.0rem; }
 * h2 { font-size: 4.2rem; }
 * h3 { font-size: 3.6rem; }
 * h4 { font-size: 3.0rem; }
 * h5 { font-size: 2.4rem; }
 * h6 { font-size: 1.5rem; }
 */

@mixin heading-attributes($size) {
  font-size: $size  !important;
  margin-top: 2rem !important;
}

h1:not(#logo) {
  @include heading-attributes(2.5rem);
}

h2 {
  @include heading-attributes(2.1rem);
}

h3 {
  @include heading-attributes(1.8rem);
}

h4 {
  @include heading-attributes(1.5rem);
}

h5 {
  @include heading-attributes(1.2rem);
}

h6 {
  @include heading-attributes(0.75rem);
}

/* correct content/sidebar overflow */
@media (min-width: 550px) {

  .column,
  .columns {
    margin-left: 0 !important;
  }
}

/* forum list headings */
table.forum_index {
  h4 {
    margin: 0.25rem !important;
  }
}

/* checkbox and radio labels */
label,
legend {
  display: inline !important;
}

/* tables usually containing forms */
table.store_table,
form.search_form,
table.collage_edit,
table.forum_index,
form[name="notification"],
div.permission_container,
table.user_options,
table.skeleton-fix {
  td {
    border-bottom: 0 !important;
    padding: 0.5rem !important;
  }
}

/* duplicate input rules here */
input,
input[type="search"],
input[type="text"] {
  margin: 0 !important;
}

input,
textarea,
select,
fieldset {
  margin-bottom: 0 !important;
}

/* easymde button fix */
div.editor-toolbar {
  button {
    font-size: revert;
    line-height: revert;
  }
}

/* block elements */
pre,
blockquote,
dl,
figure,
table,
ul,
ol,
form {
  margin-bottom: 0 !important;
}

/* inline code */
code {
  padding: 0 !important;
}

/* poll options */
ul#poll_options {
  list-style: none !important;
  margin-left: 0 !important;
  margin-bottom: 0.5rem !important;
}

/* nested lists */
ul ul,
ul ol,
ol ol,
ol ul {
  margin: 0 !important;
  font-size: 100% !important;
}

/* ul fix */
ul {
  list-style: square !important;

  li {
    margin-left: 2rem;
  }
}

/* red button */
.button.button-red,
button.button-red,
input[type="submit"].button-red,
input[type="reset"].button-red,
input[type="button"].button-red {
  color: #FFF;
  background-color: rgba(red, 0.50);
  border-color: rgba(red, 0.50);
}

.button.button-red:hover,
button.button-red:hover,
input[type="submit"].button-red:hover,
input[type="reset"].button-red:hover,
input[type="button"].button-red:hover,
.button.button-red:focus,
button.button-red:focus,
input[type="submit"].button-red:focus,
input[type="reset"].button-red:focus,
input[type="button"].button-red:focus {
  color: #FFF;
  background-color: rgba(red, 0.75);
  border-color: rgba(red, 0.75);
}

/* green button */
.button.button-green,
button.button-green,
input[type="submit"].button-green,
input[type="reset"].button-green,
input[type="button"].button-green {
  color: #FFF;
  background-color: rgba(green, 0.50);
  border-color: rgba(green, 0.50);
}

.button.button-green:hover,
button.button-green:hover,
input[type="submit"].button-green:hover,
input[type="reset"].button-green:hover,
input[type="button"].button-green:hover,
.button.button-green:focus,
button.button-green:focus,
input[type="submit"].button-green:focus,
input[type="reset"].button-green:focus,
input[type="button"].button-green:focus {
  color: #FFF;
  background-color: rgba(green, 0.75);
  border-color: rgba(green, 0.75);
}

/* orange button */
.button.button-orange,
button.button-orange,
input[type="submit"].button-orange,
input[type="reset"].button-orange,
input[type="button"].button-orange {
  color: #555;
  background-color: rgba(orange, 0.50);
  border-color: rgba(orange, 0.50);
}

.button.button-orange:hover,
button.button-orange:hover,
input[type="submit"].button-orange:hover,
input[type="reset"].button-orange:hover,
input[type="button"].button-orange:hover,
.button.button-orange:focus,
button.button-orange:focus,
input[type="submit"].button-orange:focus,
input[type="reset"].button-orange:focus,
input[type="button"].button-orange:focus {
  color: #333;
  background-color: rgba(orange, 0.75);
  border-color: rgba(orange, 0.75);

}

/* purple button */
.button.button-purple,
button.button-purple,
input[type="submit"].button-purple,
input[type="reset"].button-purple,
input[type="button"].button-purple {
  color: #FFF;
  background-color: rgba(purple, 0.50);
  border-color: rgba(purple, 0.50);
}

.button.button-purple:hover,
button.button-purple:hover,
input[type="submit"].button-purple:hover,
input[type="reset"].button-purple:hover,
input[type="button"].button-purple:hover,
.button.button-purple:focus,
button.button-purple:focus,
input[type="submit"].button-purple:focus,
input[type="reset"].button-purple:focus,
input[type="button"].button-purple:focus {
  color: #FFF;
  background-color: rgba(purple, 0.75);
  border-color: rgba(purple, 0.75);

}