/**
 * alternating rows
 */
table.alternatingRows {
  tr:nth-child(2n) {
    background: whitesmoke;
  }

  tr:nth-child(2n-1) {
    background: white;
  }
}

/**
 * every table
 */
table {
  width: 100%;
}

/**
 * torrent search table
 */

#searchFormHeader {
  display: flex;
  flex-flow: row nowrap;
  align-items: baseline;
  justify-content: space-between;
}

.torrentSearch {
  th {
    text-align: right;
    width: 10%;
  }

  td {
    display: flex;
    flex-flow: row nowrap;
    gap: 2rem;
    align-items: baseline;

    label {
      display: block !important;
      margin-top: 1rem;
    }

    div,
    input[type="text"] {
      width: 100%;
    }
  }

  .wrapThis {
    flex-wrap: wrap;
  }

  .inlineFlex {
    display: inline-flex;
    align-items: baseline;
    gap: 1rem;
  }

  /* tom select */
  .ts-control > * {
    width: auto;
  }

  .ts-wrapper.multi .ts-control > div.active {
    background: $skeletonDefault;
  }

  #formControls {
    justify-content: center;
  }
}

/**
 * torrent search results table
 */

#searchResultsHeader {
  display: flex;
  flex-flow: row nowrap;
  gap: 2rem;
  align-items: center;
  justify-content: space-between;

  #paginationControls {
    display: inline-flex;
    flex-flow: row wrap;
    gap: 2rem;
  }
}

#torrentSearchResults {
  .torrentTitle {
    font-size: larger;
  }

  /*
  .torrentTags {
    font-style: italic;
  }
  */

  .tableGroup {
    display: table-cell;
  }

  .flexColumn {
    display: flex;
    flex-flow: column wrap;
    gap: 1rem;
  }

  .flexRow {
    display: flex;
    flex-flow: row wrap;
    gap: 0 2rem;
  }
}

/**
 * sortable tables
 */

$bitmap: "/images/symbols/table-order.png";
$nrsr: no-repeat scroll right;

@mixin bitmap($px) {
  background: url($bitmap) $nrsr $px transparent;
}

.headerSort {
  cursor: pointer;
}

.headerSort span {
  @include bitmap(-38px);
  padding: 0px 20px 0 0;
}

.headerSortDown span {
  @include bitmap(4px);
}

.headerSortUp span {
  @include bitmap(-79px);
}

.headerSort.sorter-false,
.headerSort.sorter-false span {
  background-image: none;
  cursor: default;
}

/* generic */
#sortable {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 50%;

  li {
    padding: 0px;
    font-size: 1.2em;
    height: 1.5em;
  }
}

/* drag and drop controls */
.drag_drop_save {
  padding: 6px 0;
  overflow: hidden;
}

#manage_collage_table.ui-sortable .drag {
  cursor: n-resize;
}

#manage_collage_table.ui-sortable .ui-sortable-helper.drag {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

#manage_collage_table .ui-sortable-helper td,
#manage_collage_table .ui-sortable-placeholder {
  border: 0;
}

/* the main torrent page header */
table.torrent-header {
  margin: 2rem 0;
  margin-left: auto !important;
  margin-right: auto !important;

  td.controls {
    text-align: right;
  }
}

/**
 * boards/forums/discourse
 */

/* forum index */
table#forumIndex,
table#privateMessages {
  width: 100%;
}

/* forum thread */
table#forumTopic {
  td {
    vertical-align: top;

    &.avatar {
      text-align: center;
      width: 5rem;
    }
  }
}

/* wiki */
table#wikiArticle {
  td {
    border-bottom: none;
  }
}

/* available reactions to posts */
aside.postActions {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  gap: 2rem;

  background: whitesmoke;
  padding: 1rem;

  .spacer {
    flex-grow: 1;
  }

  a {
    text-decoration: none;

    &.reply {
      &:after {
        content: "Reply";
      }
    }
  }
}
