/**
 * user settings page
 */

.userSettings {
  margin-bottom: 5rem !important;

  th {
    vertical-align: text-top;
    width: 33% !important;
  }

  tr {
    margin-bottom: 2rem;
  }

  input[type="text"],
  input[type="email"],
  input[type="password"],
  textarea {
    width: 100%;
  }

  #publicKey {
    font-family: monospace;
  }
}

/* stylesheet gallery */
#css_gallery {
  overflow: hidden;
  margin-top: 10px;
}

.preview_wrapper {
  position: relative;
  display: inline-block;
  width: 40%;
  margin: 0 10px;
}

.preview_image {
  display: block;
  cursor: pointer;
  overflow: hidden;

  img {
    width: 100%;
  }
}

.preview_name {
  text-align: center;
  margin-top: 5px;
}

/**
 * user profile page
 */

.userProfileSidebar,
#userSettingsSidebar {
  a {
    width: 100%;
  }
}

#userProfilePercentiles,
#userProfileRequests {
  td {
    text-align: right;
  }
}

#userProfileAvatar {
  text-align: center;

  figcaption {
    margin-top: 2rem;
  }
}

.badgesFlex {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
}
