/* Layout (forums) */
tr.row:nth-of-type(odd) {
  background-color: white;
}

table.forum_post {
  margin: 2em 0;
  width: 100%;
}

table.forum_post td {
  border: none;
}

table.forum_unread {
  border: 2px solid rgba(255, 0, 0, 0.5);
}

td.avatar,
#torrent_comments table.forum_post td.avatar {
  width: 120px;
  padding: 0px;
}

.box_description > div:not(.head) {
  max-height: 400px;
  overflow-y: scroll;
}

.box_description,
table.forum_post td.body {
  word-break: break-word;
  word-wrap: break-word;
  display: inline-block;
}

.box_description {
  width: 100%;
}

tr.torrent .bookmark > a:before {
  color: #222;
}

tr.torrent .bookmark > a:after {
  color: #222;
}

.brackets {
  font-weight: normal;
}

#forum_search_cat_list {
  border: none;
}

.torrent_info {
  font-size: 100%;
  font-weight: 100;
}

.recent_snatches_images,
.recent_uploads_images {
  position: relative;
}

.edit_tags_votes {
  padding-left: 5px;
}

.row_hl {
  background-color: whitesmoke;
}

.collage_images .collage_image {
  margin: 1px;
  width: 120px;
  display: inline-block;
}
