/**
 * Global colors
 * https://material.io/design/color/the-color-system.html
 */

/* The shadow under floating elements */
$shadow: 2px 2px 10px -2px slategray;

/**
 * RGB color intensity border
 * For semi-transparent elements,
 * e.g., unread forum post borders
 */
@mixin transparent-border($c, $a) {
  border: 2px solid change-color($color: $c, $alpha: $a);
}

/**
 * Alerts, Toolbox, etc.
 * Needs one unified error display
 * (torrent form, API keys use their own)
 */
@mixin alertbar($bg) {
  background: change-color($bg, $alpha: 0.25);
  text-align: center;
  color: #222;
  font-weight: bold;
  /* width: 33%; */
  margin: 2em auto;
  padding: 1rem;
  border-radius: 4px;
  border: 1px solid $bg;
}

.alertbar {
  &.modbar {
    @include alertbar(silver);
  }

  &.info {
    @include alertbar(green);
  }

  &.warning {
    @include alertbar(orange);
  }

  &.error {
    @include alertbar(red);
  }
}

.token_error {
  @include alertbar(pink);
}

.modbar a {
  margin: 0 0.5rem;
}

/* Inbox */
tr.unreadpm {
  background: change-color(gold, $alpha: 0.25);
}

/* coverCont */
#coverCont {
  padding: 0.5rem;
  box-shadow: $shadow;
  background: change-color(#222, $alpha: 0.5);

  img {
    background: white;
  }
}

a.brackets {
  margin: 0 0.25rem;
}

/* button selectors from skeleton */
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  box-shadow: 0.1rem 0.1rem 0.25rem lightgray;
  transition: background-color 0.1s;

  &:hover {
    transition: background-color 0.1s;
  }
}

.EasyMDEContainer {
  * {
    box-shadow: none;
  }
}