/**
 * dark mode
 */

body {
    background: #222 !important;
    color: white !important;

    a {
        color: white !important;

        &:hover {
            color: $skeletonDefault  !important;
        }
    }

    .button,
    button,
    input[type="submit"],
    input[type="reset"],
    input[type="button"] {
        color: white !important;
    }
}