/**
 * Upload, Invite, etc.
 */
#userInfo {
  color: #222;
  /* padding: 0.5em 0; */
  width: 100%;
  text-align: center;
}

#userInfo ul {
  display: inline;
  margin: 0 1%;

  li {
    display: inline;
    margin: 0 0.1rem;
    line-height: 2rem;
    vertical-align: middle;
    padding: 1rem;
  }
}

#userInfo a {
  color: #222;
  text-decoration: none;
}

#userInfo a:hover {
  text-decoration: underline;
}

/* Major? */
#userInfoMajor .brackets:before {
  font-weight: bold;
}

#userInfoMajor .brackets:after {
  font-weight: bold;
}

/* Minor? */
#userInfoMinor {
  position: absolute;
  text-align: left;
}

#userInfoMinor > li > ul {
  display: none;
  position: absolute;
  padding: 5px;
  left: -5px;
  background-color: white;
  z-index: 100;
}

#userInfo #userInfoMinor li {
  display: block;
}
