/* Global */
#site_debug td {
  border: 1px solid #666;
}

body {
  width: 100%;
  background-color: #eddde7;
  font-family: tahoma, helvetica, sans-serif;
  font-size: 8pt;
  color: #000;
  min-width: 850px;
}

/* Common elements */
a {
  text-decoration: none;
  border: none;
  color: #444;
}

a:hover {
  text-decoration: underline;
  color: #555;
}

/* Buttons */
button:not(.editor-toolbar button),
input[type="button"],
input[type="submit"] {
  color: black;
  border: 1px solid #bbb;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);

  &.button-primary {
    background: #eaabed;
    border: 1px solid #bbb;
    color: black;
  }

  &:hover {
    background: #e197e5 !important;
    /* Primary hover default blue */
    border: 1px solid #bbb !important;
    color: black !important;
  }

  &:focus {
    background: #d48dd8;
  }
}

.spoilerButton {
  max-width: 540px;
}

.forum_post .body a:not([href="#"]),
.rule_summary a,
.wiki_article a,
#actual_rules a,
.news_post .pad a,
.store_table a {
  text-decoration: none;
  border: none;
  color: #862a5e;
}

.forum_post .body a:hover:not([href="#"]),
.rule_summary a:hover,
.wiki_article a:hover,
#actual_rules a:hover,
.news_post .pad a:hover,
.store_table a:hover {
  text-decoration: underline;
  border: none;
  color: #b65a8e;
}

h1,
h2,
h3,
h4 {
  margin: 5px 0px;
  font-weight: bold;
}

h2 {
  text-align: center;
  font-size: 12pt;
}

h4 {
  font-size: 8pt;
}

p {
  margin: 10px 5px;
}

li {
  margin: 5px 15px;
}

img {
  border: none;
}

/* Layout (every page) */
#header {
  width: 100%;
  padding: 0px 0 0 0;
  background: #fbc2e5;
  margin-bottom: 10px;
}

#content {
  margin: auto;
  margin-top: 10px;
  width: 90%;
  min-width: 872px;
  overflow: hidden;
}

#footer {
  margin-top: 10px;
  width: 100%;
  text-align: center;
  padding: 1em 0;
  opacity: 0;
  transition: ease-in-out 0.3s;
  transition-delay: 0.7s;
}

#footer:hover {
  opacity: 1;
}

.logo {
  width: 50px;
  min-width: 50px;
  height: 100%;
  min-height: 100%;
  background-image: url("/images/logos/liquidrop-oppai.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin: 0 0 0 10%;
}

#logo a {
  border: none;
  width: 100%;
  height: 50px;
  display: block;
}

#logo a:hover {
  border: none;
}

#menu {
  width: 100%;
  text-align: center;
  background-color: #461640;
  font-size: 10pt;
}

#menu > ul {
  display: flex;
  width: 80%;
  margin: 0 auto;
}

#menu > ul > li {
  position: relative;
  height: 32px;
  display: flex;
  margin: 0;
  flex: 1 1 auto;
}

#menu ul > li > a {
  padding: 0.6em 0;
  display: inline-block;
  width: 100%;
  color: #fbc2e5;
  transition: ease-in-out 0.1s;
}

#nav_links {
  max-width: 40px;
}

#menu ul li a:active {
  background-color: #565656;
}

#menu ul li a:hover {
  background-color: #7a3572;
  text-decoration: none;
}

#menu .nav_dropdown {
  background: #461640;
  margin-top: 0;
}

.nav_dropdown > div {
  position: absolute;
  background-color: #461640;
  width: 100%;
  z-index: 99999;
  margin-top: 32px;
  left: 0;
}

#nav_links > #links_menu {
  width: 120px;
  margin-left: -80px;
}

.nav_dropdown > div > a {
  display: none;
  color: #fbc2e5;
  height: 32px;
  line-height: 32px;
}

.nav_dropdown:hover > div > a {
  display: block;
}

#userinfo {
  background: #fbc2e5;
  color: #444;
  padding: 4px 0px;
  width: 100%;
  text-align: center;
  font-size: 8pt;
}

#userinfo img {
  margin-top: -5px;
}

#userinfo ul {
  display: inline;
  margin: 0px 0.8%;
}

#userinfo ul li {
  display: inline;
  margin: 0 0.1em;
  line-height: 20px;
  vertical-align: middle;
  padding: 0px;
}

#userinfo a {
  color: #222;
}

#userinfo a:hover {
  text-decoration: underline;
}

#userinfo b a {
  font-weight: normal;
  font-size: 0.9em;
  font-weight: bold;
}

#searchbars {
  text-align: center;
  background-color: #7a3572;
  box-sizing: content-box;
  padding: 4px 10%;
  border-bottom: 2px solid #fbc2e5;
  display: flex;
}

#searchbars > .search_form {
  flex: 1 1 auto;
  text-align: center;
  margin: 0 3px;
}

#searchbars input {
  position: relative;
  border: 1px solid transparent;
  box-sizing: border-box;
  padding: 2px 2px 2px 4px;
  font-size: 0.9em;
  background-color: #e0e0e0;
  width: 100%;
  color: #444;
}

#searchbars ul {
  margin: 0 auto;
  display: block;
  text-align: center;
}

#searchbars ul li {
  display: inline;
  margin: 0px 1px;
  list-style: none;
  position: relative;
}

#searchbars ul li ul {
  display: block;
  position: absolute;
  top: 1em;
  left: 0;
  z-index: 1000;
  background-color: #999;
  width: 12em;
  margin-top: 12px;
}

#searchbars ul li ul li {
  margin: 0 0 0 0;
  padding: 0;
  display: block;
  width: 100%;
}

#searchbars ul li ul li.highlight {
  background: #d7d7d7;
}

#searchbars ul li form {
  display: inline;
}

#alerts {
  background: #eddde7;
  margin: 10px 0px;
}

#cat-selector ul {
  width: 100%;
}

#cat-selector ul li {
  display: inline;
  width: 12em;
  height: 1em;
  float: left;
}

.alertbar {
  background-color: #fbc2e5;
  text-align: center;
  color: #444;
  font-weight: bold;
  font-size: 0.95em;
  width: 350px;
  margin: 0 auto 0px auto;
  padding: 10px;
  margin-bottom: 8px;
}

.alertbar.warning {
  background-color: #ffe68a;
}

.alertbar.error {
  background-color: #ff8a8a;
}

.alertbar a {
  color: #555;
  text-decoration: underline;
}

.alertbar.modbar a {
  margin: 0px 5px;
}

.alertbar a:hover {
  color: #777;
  text-decoration: none;
}

/* IE doesn't appear to like a simple display:none in our header. Random things start fucking up pretty badly. */
.hidden {
  position: absolute;
  left: -10000px;
}

input.hidden {
  position: absolute;
  display: none;
}

/* Layout (Any page) */
.thin {
  width: 850px;
  margin: 0px auto;
}

#userinfo_major .brackets:before {
  font-weight: bold;
}

#userinfo_major .brackets:after {
  font-weight: bold;
}

#userinfo_minor {
  position: absolute;
  text-align: left;
}

#userinfo_minor > li > ul {
  display: none;
  position: absolute;
  padding: 5px;
  left: -5px;
  background-color: #fbc2e5;
  z-index: 100;
}

#userinfo #userinfo_minor li {
  display: block;
}

div.linkbox {
  text-align: center;
  padding: 5px;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.pad {
  padding: 1em;
}

.slight_margin {
  margin: 4px;
}

.vertical_space {
  margin-bottom: 10px;
}

.box {
  font-size: 8pt;
  background-color: #eee;
  border: none;
  margin-bottom: 10px;
}

.torrents_nomatch {
  margin-top: 10px;
}

.box {
  margin-bottom: 10px;
  font-size: 8pt;
  background-color: #eaeaea;
  border: none;
}

.pad h3,
.pad h4,
.padbox h3,
.padbox h4 {
  margin-top: 0px;
  padding-top: 0px;
}

.head {
  padding: 4px;
  background: #eaabed;
  color: #333;
}

.body {
  padding: 3px 10px 10px 10px;
}

#content {
  max-width: 67%;
}

.main_column table {
  margin-bottom: 10px;
}

.tags {
  padding: 0px 0px 0px 20px;
  font-style: italic;
}

.tags a {
  color: #222;
}

.tags a:hover {
  color: #444;
  text-decoration: underline;
}

ul.nobullet,
ul.nobullet li {
  list-style-type: none;
}

table {
  width: 100%;
  border-collapse: collapse;
}

tr {
  background-color: #eee;
}

td,
th {
  padding: 5px;
  text-align: left;
}

.colhead {
  background: #e197e5;
  font-weight: bold;
  color: #000;
}

td.colhead,
.colhead td,
.colhead th {
  padding-left: 10px;
  padding-right: 10px;
}

.colhead .sign,
.colhead_dark .sign {
  padding: 0px 8px 0px 8px;
  vertical-align: middle;
  text-align: center;
  font-size: 12pt;
  font-weight: bold;
}

.colhead .sign {
  padding: 0px 8px 0px 8px;
  font-size: 12pt;
  font-weight: bold;
}

.colhead_dark {
  background: #e197e5;
  color: #333;
}

.forum_post .colhead_dark {
  background: #f1cdf4;
}

.forum_post.staff_post .colhead_dark {
  background: #f1849a;
}

.forum_post.sticky_post {
  border: 3px solid #f1849a;
}

td.label {
  font-weight: bold;
  text-align: right;
  width: 180px;
}

table.slice {
  margin-top: -1px;
}

.error_message {
  padding: 8px 0px;
  background-color: #af2525;
  text-align: center;
  color: white;
  font-weight: bold;
}

.save_message {
  padding: 8px 0px;
  background-color: #f8c2e8;
  text-align: center;
  color: #555555;
  font-weight: bold;
}

.elem_error {
  border: 3px solid #b00d0d;
}

.hidden {
  display: none;
}

ul.nobullet {
  display: inline-block;
}

/* Layout (home page) */
ul.stats li {
  padding: 0px 0px 1px 0px;
}

ul.poll li {
  padding: 0px 0px 0px 10px;
  margin: 0px;
  clear: left;
}

ul.poll li.graph {
  margin-bottom: 3px;
  padding-left: 20px;
}

/* Layout (torrents page) */
.show_torrents {
  width: 21px;
  height: 28px;
  background: url("/images/symbols/show.png") no-repeat center center;
}

.hide_torrents {
  width: 21px;
  height: 28px;
  background: url("/images/symbols/hide.png") no-repeat center center;
}

.show_torrents_link {
  border: none;
  width: 28px;
  height: 28px;
  display: block;
  cursor: pointer;
}

.filter_torrents {
  width: 750px;
  margin: auto;
  background: #eee;
}

.filter_torrents .submit {
  text-align: right;
  padding-top: 5px;
}

.filter_torrents .ft_cat_list {
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
}

#content form.search_form + .torrent_table {
  margin-top: 20px;
}

#content form.search_form .submit {
  text-align: center;
}

.cat_list tr td {
  border: none;
}

.torrent_table tr {
  vertical-align: middle;
}

.torrent_table .number_column {
  text-align: center;
}

.torrent_table,
.torrent_table td {
  border: none;
}

.torrent_table tr.torrent,
.torrent_table tr.group {
  font-weight: bold;
}

.torrent_table tr.group {
  background-color: #cfcfcf;
}

.torrent_table tr.group_torrent {
  background-color: #fafafa;
}

.torrent_table tr.torrent {
  background-color: #ddd;
}

.torrent_table tr.group td.center:first-child {
  padding: 3px;
  width: 21px;
}

.torrent_table tr.torrent:nth-child(2n) {
  background-color: #fad1e3;
}

.torrent_table tr.torrent:nth-child(2n-1) {
  background-color: #edc5f4;
}

.torrent_table tr.group {
  background-color: #f8b8ff;
}

.torrent_table div.tags {
  font-weight: normal;
  max-width: 500px;
}

.torrent_table tr .center,
#collage_table td {
  vertical-align: middle;
  text-align: center;
}

.group_torrent span {
  float: right;
}

.torrent span {
  font-weight: normal;
  float: right;
}

.nobr {
  white-space: nowrap;
}

/* Layout (forums) */
.last_read {
  margin-left: 5px;
  fill: #a9a9a9;
}

.colhead_dark .last_read {
  fill: #dc86e0;
}

.unread_locked_sticky {
  background: url("/images/forums/locked_sticky_unread.png") no-repeat
    center center;
}

.read_locked_sticky {
  background: url("/images/forums/locked_sticky_read.png") no-repeat
    center center;
}

.read_sticky {
  background: url("/images/forums/sticky_read.png") no-repeat center
    center;
}

.unread_sticky {
  background: url("/images/forums/sticky_unread.png") no-repeat center
    center;
}

.unread_locked {
  background: url("/images/forums/locked_unread.png") no-repeat center
    center;
}

.read_locked {
  background: url("/images/forums/locked_read.png") no-repeat center
    center;
}

.unread {
  background: url("/images/forums/unread.png") no-repeat center center;
}

.read {
  background: url("/images/forums/read.png") no-repeat center center;
}

strong.quoteheader {
  color: #000;
}

tr.row:nth-of-type(odd) {
  background-color: #e2e2e2;
}

table.forum_post {
  margin: 10px 0px;
}

table.forum_post td {
  border: none;
}

table.forum_unread {
  border: 2px solid #f0bbd6;
}

td.avatar {
  max-width: 120px;
  padding: 0px;
}

.box_description > div:not(.head) {
  max-height: 400px;
  overflow-y: scroll;
}

.box_description,
table.forum_post td.body {
  word-break: break-word;
  word-wrap: break-word;
  display: inline-block;
}

.box_description {
  width: 100%;
}

.thin > table.forum_post td.body {
  width: 690px;
}

#torrent_comments table.forum_post td.body {
  width: 422px;
}

blockquote {
  margin: 10px;
  padding: 10px;
  border: 1px solid #bbb;
}

/* Layout (inbox) */
tr.unreadpm {
  background-color: #ecc;
}

/* Layout (permission page) */
.permission_head {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.permissions {
  width: 930px;
  margin-left: auto;
  margin-right: auto;
}

.permission_container {
  float: left;
  width: 300px;
  padding: 5px;
}

.permission_container input {
  margin: 0px 3px 5px 0px;
  vertical-align: top;
}

/* Layout (invite tree) */
ul .invitetree {
  margin: 0px 0px 0px 25px;
}

.invitetree li {
  list-style: none;
  margin: 10px 2px;
}

/* Layout (user options) */
.user_options .options_list li {
  margin: 0;
}

/* Layout (misc) */
.left_poll {
  display: none;
  width: 2px;
  height: 9px;
  float: left;
  margin: 0px;
  padding: 0px;
}

.center_poll {
  height: 9px;
  background: #c5d1ff;
  border-radius: 4px;
  float: left;
  margin: 0px;
  padding: 0px;
}

.right_poll {
  display: none;
  width: 2px;
  height: 9px;
  float: left;
  margin: 0px;
  padding: 0px;
}

.curtain {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 1001;
  -moz-opacity: 0.8;
  opacity: 0.8;
  filter: alpha(opacity=80);
}

.lightbox {
  position: fixed;
  text-align: center;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
  padding: 0px;
  z-index: 1002;
  overflow: auto;
}

.center {
  text-align: center;
}

tr.torrent .bookmark > a:before {
  color: black;
}

tr.torrent .bookmark > a:after {
  color: black;
}

.field_div {
  margin-bottom: 10px;
}

.brackets {
  font-weight: normal;
}

.post_id {
  font-weight: normal;
}

/* Get rid of extraneous padding in the Top Contributors box */
#request_top_contrib {
  border: none;
}

#request_top_contrib tr:first-child th {
  border-top: 0;
}

#request_top_contrib tr:last-child td {
  border-bottom: 0;
}

#request_top_contrib tr td:first-child,
#request_top_contrib tr th:first-child,
#request_top_contrib tr td:nth-child(2),
#request_top_contrib tr th:nth-child(2) {
  border-left: 0;
  border-top: 0;
}

#request_top_contrib tr td:last-child,
#request_top_contrib tr th:last-child {
  border-right: 0;
}

#requests table.layout.cat_list {
  border-bottom: 1px solid #aaa;
  border-top: 1px solid #aaa;
}

#requests tr#media_list {
  border-bottom: 1px solid #aaa;
  border-top: 1px solid #aaa;
}

#request_table {
  margin-bottom: 5px;
}

#request_table .request:nth-of-type(odd) {
  background: #fad1e3;
}

#request_table .request:nth-of-type(even) {
  background: #edc5f4;
}

ol {
  margin-left: 1em;
}

#forum_search_cat_list {
  border: none;
}

#coverCont {
  background-color: #ff5aa5;
  padding: 5px;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12),
    0 2px 4px -1px rgba(0, 0, 0, 0.2);
}

#coverCont img {
  background-color: #ffd2e6;
}

.torrent_info {
  font-size: 100%;
  font-weight: 100;
}

.recent_snatches_images,
.recent_uploads_images {
  position: relative;
}

.edit_tags_votes {
  padding-left: 5px;
}

.row_hl {
  background-color: #eed5f1;
}

input.inputtext {
  border: none;
  border-bottom: 1px solid #aaa;
  background-color: rgba(0, 0, 0, 0);
  font-size: 13px;
  outline: none;
  transition: ease-in-out 0.12s;
}

input.inputtext:focus {
  border-bottom: 1px solid #e197e5;
}

.bbcode_bar {
  background: white;
  border: 1px solid #c7c7c7;
  border-bottom: none;
}

.bbcode_bar .emoji_box {
  background-color: #eee;
}

.collage_images .collage_image {
  margin: 1px;
  width: 121px;
  display: inline-block;
}

.box,
.border,
.alertbar,
.artist_table,
.request_table,
.forum_index,
#userinfo_minor > li > ul,
.permissions table {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

#userinfo {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -2px rgba(0, 0, 0, 0.2),
    0 0px 5px 0 rgba(0, 0, 0, 0.12);
}

.last_edited {
  font-size: 10px;
  opacity: 0.7;
}

#comm_badge_tr .badge_icon,
#user_badge_edit_tr .badge_icon {
  margin-right: 1em;
  margin-left: 2px;
}

.store_table .badge_icon {
  display: inline-block;
  width: 16px;
}

.store_table .badge_icon img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.hnr-yes {
  color: red;
}

.hnr-no {
  color: green;
}

.webm {
  max-width: 100%;
}

.point_gift_box p {
  margin: 7px 2px 0px;
}

.point_gift_box input[type="text"],
.point_gift_box textarea {
  width: 100%;
  box-sizing: border-box;
}

.dead {
  opacity: 0.6;
}

.search_warning {
  fill: #e197e5;
}

.tl_reported {
  color: red;
}

.tl_snatched {
  color: #c35c1c;
}

.tl_leeching {
  color: #bd0d0d;
}

.tl_seeding {
  color: #068206;
}

caption {
  border-bottom: 1px solid #bbb;
  font-weight: bold;
}

.tag_parody {
  color: #e08e00 !important;
}

.tag_character {
  color: #099809 !important;
}

.tag_female {
  color: #d51b8a !important;
}

.tag_male {
  color: #0000ff !important;
}

.collage_image:hover {
  box-shadow: 0px 0px 0px 3px #fbc2e5;
  position: relative;
}
