/*
 * Main
 */

#menu {
    background-color: $lb900;
    font-size: 1rem;
    text-align: center;
    width: 100%;
}

#menu > ul {
    display: flex;
    width: 80%;
    margin: 0 auto;
}

#menu > ul > li {
    display: flex;
    flex: 1 1 auto;
    height: 2.5rem;
    margin: 0;
    position: relative;
}

#menu ul > li > a {
    padding: 0.5rem 0;
    display: inline-block;
    width: 100%;
    color: white;
    transition: ease-in-out 0.1s;
    text-decoration: none;
}

#nav_links {
    max-width: 2.5rem;
}

#menu ul li a.active {
    background-color: $lb700;
}

#menu ul li a:hover {
    background-color: $lb700;
    color: white;
    text-decoration: none;
}

/* Dropdown */
#menu .nav_dropdown {
    background: #01579b;
    margin-top: 0;
}

.nav_dropdown > div {
    box-shadow: $shadow;
    position: absolute;
    background-color: #01579b;
    width: 100%;
    z-index: 99999;
    margin-top: 2.5rem;
    left: 0;
}

#nav_links > #links_menu {
    width: 8rem;
    margin-left: -4rem;
}

.nav_dropdown > div > a {
    display: none;
    color: white;
    height: 2.5rem;
    line-height: 2.5rem;
    text-decoration: none;
}

.nav_dropdown:hover > div > a {
    display: block;
}

/*
 * Search bars
 */

#searchbars {
    text-align: center;
    background-color: $lb200;
    box-sizing: content-box;
    padding: 0.5rem 10%;
    display: flex;
}

#searchbars > .search_form {
    flex: 1 1 auto;
    text-align: center;
    margin: 0 0.25rem;
}

#searchbars input {
    position: relative;
    box-sizing: border-box;
    background-color: white;
    color: black;
    padding: 0.25rem;
    text-align: center;
    width: 100%;
}

#searchbars ul {
    margin: 0 auto;
    display: block;
    text-align: center;
}

#searchbars ul li {
    display: inline;
    margin: 0px 1px;
    list-style: none;
    position: relative;
}

#searchbars ul li ul {
    display: block;
    position: absolute;
    top: 1rem;
    left: 0;
    z-index: 1000;
    background-color: white;
    width: 12rem;
    margin-top: 1rem;
}

#searchbars ul li ul li {
    margin: 0 0 0 0;
    padding: 0;
    display: block;
    width: 100%;
}

#searchbars ul li ul li.highlight {
    background: white;
}

#searchbars ul li form {
    display: inline;
}

/*
 * Upload, Invite, etc.
 */
#userinfo {
    background: white;
    /* box-shadow: 0 2px 10px -2px slategray; */
    color: black;
    padding: 0.5em 0;
    width: 100%;
    text-align: center;
}

#userinfo ul {
    display: inline;
    margin: 0 1%;

    li {
        display: inline;
        margin: 0 0.1rem;
        line-height: 2rem;
        vertical-align: middle;
        padding: 0;
    }
}

#userinfo a {
    color: black;
    text-decoration: none;
}

#userinfo a:hover {
    text-decoration: underline;
}

/* Major? */
#userinfo_major .brackets:before {
    font-weight: bold;
}

#userinfo_major .brackets:after {
    font-weight: bold;
}

/* Minor? */
#userinfo_minor {
    position: absolute;
    text-align: left;
}

#userinfo_minor > li > ul {
    display: none;
    position: absolute;
    padding: 5px;
    left: -5px;
    background-color: white;
    z-index: 100;
}

#userinfo #userinfo_minor li {
    display: block;
}
