/**
 * Upload, Invite, etc.
 */
#userinfo {
  color: #222;
  /* padding: 0.5em 0; */
  width: 100%;
  text-align: center;
}

#userinfo ul {
  display: inline;
  margin: 0 1%;

  li {
    display: inline;
    margin: 0 0.1rem;
    line-height: 2rem;
    vertical-align: middle;
    padding: 0;
  }
}

#userinfo a {
  color: #222;
  text-decoration: none;
}

#userinfo a:hover {
  text-decoration: underline;
}

/* Major? */
#userinfo_major .brackets:before {
  font-weight: bold;
}

#userinfo_major .brackets:after {
  font-weight: bold;
}

/* Minor? */
#userinfo_minor {
  position: absolute;
  text-align: left;
}

#userinfo_minor > li > ul {
  display: none;
  position: absolute;
  padding: 5px;
  left: -5px;
  background-color: white;
  z-index: 100;
}

#userinfo #userinfo_minor li {
  display: block;
}
