/**
 * Tables
 */

@mixin alternating-rows {
    tr:nth-child(2n) {
        background: whitesmoke;
    }

    tr:nth-child(2n-1) {
        background: white;
    }
}

/* Every table */
table {
    width: 100%;

    th {
        font-size: 120%;
    }

    td,
    td:first-child {
        padding: 0.5rem !important;
    }
}

/* Special tables */
.torrent_table,
.collage_table,
.request_table,
.top10_table {
    @include alternating-rows;

    th,
    td {
        border-bottom: 1px solid #e1e1e1;
    }
}

.torrent_table,
.collage_table {
    div.tags {
        font-weight: normal;
        max-width: 500px;
    }

    span {
        float: right;
    }
}

/**
 * Torrent form
 */

.torrent_form,
#dynamic_form {
    /* margin-bottom: 2rem; */

    label {
        float: right;
    }

    td {
        vertical-align: top;
    }
}

/**
 * colhead
 * The main table heading.
 */

.colhead {
    padding: 0.5em 0;
    border-bottom: 1px solid #e1e1e1;
    font-size: 120%;
    font-weight: bold;
}

.colhead .sign,
.colhead_dark .sign {
    padding: 0 1rem;
    vertical-align: middle;
    text-align: center;
    font-weight: bold;
}

.colhead .sign {
    padding: 0 1rem;
    font-weight: bold;
}

/* Torrent and collage tables */
.torrent_table .group_torrent .torrent span {
    font-weight: normal;
    float: right;
}

/**
 * Forums
 */

@mixin forum-post($color) {
    background-color: $color;
    border-bottom: 1px solid #e1e1e1;
    font-size: 120%;
}

.forum_post .colhead_dark {
    @include forum-post(white);
    /* background: $lb100; */
}

.forum_post.staff_post .colhead_dark {
    @include forum-post(whitesmoke);
    /* background: $lb200; */
}

.forum_post.sticky_post {
    border: 2px solid $SkeletonDefault;
}

td.label {
    font-weight: bold;
    text-align: right;
    width: 180px;
}

table.slice {
    margin-top: -1px;
}

/* Get rid of extraneous padding in the Top Contributors box */
#request_top_contrib {
    border: none;

    tr:first-child th {
        border-top: 0;
    }

    tr:last-child td {
        border-bottom: 0;
    }

    tr td:first-child,
    tr th:first-child,
    tr td:nth-child(2),
    tr th:nth-child(2) {
        border-left: 0;
        border-top: 0;
    }

    tr td:last-child,
    tr th:last-child {
        border-right: 0;
    }
}

#request_table {
    margin-bottom: 0.5rem;
}
