{% extends "base.twig" %}


{% block content %}

<section>
    {% if can("site_edit_wiki") and user.extra.Class >= article.minClassEdit %}
        <h2>
            <input type="text" id="articleTitle" maxlength="255" style="width: 100%;" value="{{ article.title }}">
        </h2>
    {% else %}
        <h2>{{ article.title }}</h2>
    {% endif %}

    {% set vars = { "id": article.id, "content": article.body } %}
    {% include "_base/starboardNotebook.twig" with vars %}
</section>

{% endblock %}


{% block sidebar %}

{{ include("wiki/sidebar.twig") }}

{% endblock %}
