<aside class="upload_notice">
  <p>
    Please consult the
    <a href="/rules.php?p=upload">Upload Rules</a>
    and the
    <a href="/wiki.php?action=article&name=categories">Categories Wiki</a>
    to help fill out the upload form correctly.
  </p>

  <p>
    The site adds the Announce and Source automatically. Just download and seed
    the new torrent after uploading it.

    <!--
    <strong>
      If you never have before, be sure to read this list of
      <a href="wiki.php?action=article&name=uploadingpitfalls">uploading pitfalls</a>.
    </strong>
    -->
  </p>
</aside>
