<tr id="seqhash_tr">
  <td>
    <label for="seqhash">{{ db.name }}</label>
    {#
    <br />
    <a class="add_artist_button brackets" onclick="AddArtistField()">+</a>
    <a class="remove_artist_button brackets" onclick="RemoveArtistField()">&minus;</a>
    #}
  </td>

  <td>
    <textarea
      rows="2"
      name="seqhash"
      id="seqhash"
      {# Needs to be all on one line #}
      placeholder="{{ db.desc }}">{{ seqhash }}</textarea>

    <input type="radio" id="dna" name="seqhash_meta1" value="DNA" checked> DNA
    {# <label for="dna">DNA</label> #}

    &emsp;

    <input type="radio" id="rna" name="seqhash_meta1" value="RNA"> RNA
    {# <label for="rna">RNA</label> #}

    &emsp;

    <input type="radio" id="protein" name="seqhash_meta1" value="PROTEIN"> Protein
    {# <label for="protein">Protein</label> #}

    <br />

    <input type="radio" id="linear" name="seqhash_meta2" value="false" checked> Linear
    {# <label for="linear">Linear</label> #}

    &emsp;

    <input type="radio" id="circular" name="seqhash_meta2" value="true"> Circular
    {# <label for="circular">Circular</label> #}

    <br />

    <input type="radio" id="double_stranded" name="seqhash_meta3" value="true" checked> Double-Stranded
    {# <label for="double_stranded">Double-Stranded</label> #}

    &emsp;

    <input type="radio" id="single_stranded" name="seqhash_meta3" value="false"> Single-Stranded
    {# <label for="single_stranded">Single-Stranded</label> #}

    <p>{{ db.note|raw }}</p>
  </td>
</tr>
