<section>
    {{ text|raw }}
</section>

<section>
    <table class="skeleton-fix">
        <tr>
            <th>Category</th>
            <th>Additional information</th>
        </tr>

        <tr>
            <td>
                <strong><a href="/rules/upload">Upload</a></strong>
            </td>
            <td>
                <strong>If you only read one rules page, this is the one to read</strong>
            </td>
        </tr>

        <tr>
            <td>
                <strong><a href="/rules/ratio">Ratio</a></strong>
            </td>
            <td>
                <strong>There's really two pages: required ratio table and calculation</strong>
            </td>
        </tr>

        <tr>
            <td>
                <a href="/rules/requests">Requests</a>
            </td>
            <td>
                These rules govern requests
            </td>
        </tr>

        <tr>
            <td>
                <a href="/rules/collages">Collections</a>
            </td>
            <td>
                These rules govern collections
            </td>
        </tr>

        <tr>
            <td>
                <a href="/rules/clients">Clients</a>
            </td>
            <td>
                We allow these clients to connect to our tracker
            </td>
        </tr>

        <tr>
            <td>
                <a href="/rules/chat">Chat</a>
            </td>
            <td>
                Read before posting in our forums or talking on Slack
            </td>
        </tr>

        <tr>
            <td>
                <a href="/rules/tags">Tagging</a>
            </td>
            <td>
                These rules govern tags
            </td>
        </tr>
    </table>
</section>