{#
  Only used for torrent detail headings.
#}

<section class="box">

<table>
  {#
  <tr>
    <th>
      <img class="torrent_header" src="{{ cat_icon }}" />&nbsp;Title
    </th>
    <td>{{ g.title }}</td>
  </tr>
  #}

  {% if g.subject %}
    <tr>
      <th>{{ db.subject.icon }}&nbsp;{{ db.subject.name }}</th>

      <td>
        {{ g.subject }}

        {% if g.object %}
          {{ g.object }}
        {% endif %}
      </td>

      <td class="controls">
        <a class="brackets" href="torrents.php?advgroupname={{ g.subject }}">Search</a>
        {# <a class="brackets" href="torrents.php?advgroupname={{ g.object }}">Search</a> #}
      </td>
    </tr>
  {% endif %}


  {% if g.year %}
    <tr>
      <th>{{ db.year.icon }}&nbsp;{{ db.year.name }}</th>
      <td>{{ g.year }}</td>

      <td class="controls">
        <a class="brackets" href="torrents.php?year={{ g.year }}">Search</a>
      </td>
    </tr>
  {% endif %}

  {% if g.identifier %}
    <tr>
      <th>{{ db.identifier.icon }}&nbsp;{{ db.identifier.name }}</th>
      <td>{{ g.identifier }}</td>
      <td></td>
    </tr>
  {% endif %}

  {% if artists|default(false) %}
    <tr>
      <th>🧑&nbsp;Author(s)</th>
      <td><span class="torrent_artists">{{ artists|raw }}</span></td>
      <td></td>
    </tr>
  {% endif %}

  {% if g.workgroup %}
    <tr>
      <th>{{ db.workgroup.icon }}&nbsp;{{ db.workgroup.name }}</th>
      <td>{{ g.workgroup }}</td>

      <td class="controls">
        <a class="brackets" href="torrents.php?location={{ g.workgroup }}">Search</a>
      </td>
    </tr>
  {% endif %}

  {% if g.location %}
    <tr>
      <th>{{ db.location.icon }}&nbsp;{{ db.location.name }}</th>
      <td>{{ g.location }}</td>
      <td></td>
    </tr>
  {% endif %}
</table>

</section>
