<h3>Other rule pages</h3>

<form>
    <a href="/rules/upload" class="button button-primary">upload</a>
    <p><strong>If you only read one rules page, this is the most important one to read</strong></p>

    <a href="/rules/ratio" class="button button-primary">ratio</a>
    <p>There's really two mandatory rules pages: required ratio table and calculation</p>

    <a href="/rules/requests" class="button">requests</a>

    <a href="/rules/collages" class="button">collages</a>

    <a href="/rules/clients" class="button">clients</a>

    <a href="/rules/chat" class="button">chat</a>

    <a href="/rules/tags" class="button">tags</a>

    <hr>

    <a href="/rules" class="button button-orange">golden rules</a>
</form>
