{% extends "base.twig" %}

{% block content %}

	<section>
		<h2>{{ subject }}</h2>

		<p>{{ body }}</p>

		<p><button onclick="window.history.back()" class="button button-primary">go back</button></p>

        {#
		<p>
			<a href="/search/log/{{ subject }}">Search the site log</a>
		</p>
        #}
	</section>

{% endblock %}
