{% extends "base.twig" %}


{% block content %}

<h2>Pursuing perfection</h2>

<section>
    <p>
        Here at {{ env.siteName }}, we believe that there's always room for improvement.
        To aid our effort in the pursuit of perfection, we've put together a few simple lists that can help you build
        ratio or something and help us improve our overall quality.
        Most lists feature 20 random torrents selected upon page load.
    </p>
</section>


<h3>Lists</h3>

<section>
    <table class="skeletonFix">
        <tr>
            <th>Method</th>
            <th>Additional Information</th>
        </tr>

        <tr>
            <td><a href="/better/single">Single seeder</a></td>
            <td>When a torrent only has one seeder</td>
        </tr>

        <tr>
            <td><a href="/better/literature">DOI numbers</a></td>
            <td>Torrent groups without citations, for enhanced metadata support</td>
        </tr>

        <tr>
            <td><a href="/better/pictures">Pictures</a></td>
            <td>Torrent groups without pictures, for at-a-glance context</td>
        </tr>

        <tr>
            <td><a href="/better/tags">Tags</a></td>
            <td>Torrents marked as having bad or no tags</td>
        </tr>

        <tr>
            <td><a href="/better/folders">Folder names</a></td>
            <td>Torrents marked as having bad or no folder names</td>
        </tr>
    </table>
</section>

{% endblock %}


{% block sidebar %}

{{ include("better/sidebar.twig") }}

{% endblock %}