{% extends "base.twig" %}


{% block content %}

<section>
<h2>{{ header }}</h2>

{# no torrents #}
{% if torrentGroups is empty %}
<h3 class="center">No torrents found :)</h3>
{% endif %}

{# torrent list #}
<table>
{% for group in torrentGroups %}

{% include "torrents/tableEntry.twig" with group %}

{% endfor %}
</table>

</section>

{% endblock %}


{% block sidebar %}

{{ include("better/sidebar.twig") }}

{% endblock %}