<h3>Actions</h3>

<form>
    <a href="/better/single" class="button">single seeder</a>
    <a href="/better/literature" class="button">doi numbers</a>
    <a href="/better/pictures" class="button">pictures</a>
    <a href="/better/tags" class="button">tags</a>
    <a href="/better/folders" class="button">folder names</a>
</form>
