{# top button #}
<p class="center">
    <a href="#top" class="button">back to top</a>
<p>

{# social media icons #}
<p id="footerIcons">
	<a href="https://github.com/biotorrents" target="_blank">
		<i class="fa-brands fa-github"></i>
	</a>

	<a href="https://mastodon.social/@biotorrents" target="_blank">
		<i class="fa-brands fa-mastodon"></i>
	</a>

	<a href="https://patreon.com/biotorrents" target="_blank">
		<i class="fa-brands fa-patreon"></i>
	</a>

	<a href="https://www.reddit.com/user/biotorrents" target="_blank">
		<i class="fa-brands fa-reddit"></i>
	</a>

	<a href="https://slack.torrents.bio" target="_blank">
		<i class="fa-brands fa-slack"></i>
	</a>

	<a href="https://twitter.com/biotorrents" target="_blank">
		<i class="fa-brands fa-twitter"></i>
	</a>
</p>

{# legalese #}
<p>
	All torrents are user-generated content.
	Torrents without a specified license may be protected by copyright.
</p>

<p>
	&copy;
	{{ "now" | date("Y") }}
	{{ env.siteName }}

	&ensp;
	&middot;
	&ensp;

	<a href="/canary" target="_blank">Warrant Canary</a>
</p>
