{# left #}
<span class="left">
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a class="external" href="https://docs.torrents.bio" target="_blank">Docs</a>
</span>

{# right #}
<span class="right">
    <a href="/privacy">Privacy</a>
    <a href="/dmca">DMCA</a>
    <a class="external" href="https://github.com/biotorrents" target="_blank">GitHub</a>
    <a class="external" href="https://patreon.com/biotorrents" target="_blank">Patreon</a>
</span>