<p>
    &copy;
    {{ 'now' | date('Y') }}
    {{ env.siteName }}

    &emsp;
    <a href="https://github.com/biotorrents"><i class="fa-brands fa-github"></i></a>

    &emsp;
    <a href="https://patreon.com/biotorrents"><i class="fa-brands fa-patreon"></i></a>

    &emsp;
    <a href="https://twitter.com/biotorrents"><i class="fa-brands fa-twitter"></i></a>
</p>