<span class="float_right brackets">
  <a
    href="{{ torrent_dl }}"
    class="tooltip" title="Download">

    {% if has_file %}
      DL
    {% else %}
      Missing
    {% endif %}
  </a>

  |

  {% if can_use_token %}
    <a
      href="torrents.php?action=download&amp;id={{ torrent_id }}&amp;authkey={{ u.AuthKey }}&amp;torrent_pass={{ u.torrent_pass }}&amp;usetoken=1"
      class="tooltip" title="Use a FL Token"
      onclick="return confirm('Are you sure you want to use a freeleech token here?');">
      FL
    </a>

    |
  {% endif %}

  <a
    href="reportsv2.php?action=report&amp;id={{ torrent_id }}"
    class="tooltip" title="Report">
    RP
  </a>

  |

  {% if can_edit %}
    <a
      href="torrents.php?action=edit&amp;id={{ torrent_id }}"
      class="tooltip" title="Edit release">
      ED
    </a>

    |
  {% endif %}

  {% if can_delete %}
    <a
      href="torrents.php?action=delete&amp;torrentid={{ torrent_id }}"
      class="tooltip" title="Remove">
      RM
    </a>

    |
  {% endif %}

  <a
    href="torrents.php?torrentid={{ torrent_id }}"
    class="tooltip" title="Permalink">
    PL
  </a>
</span>

{#
  todo:
  - Add bookmarks
  - Test on all pages (details, browse, etc.)
  - Work into a larget table template
#}