{% extends "base.twig" %}


{% block content %}

<section>
<h2>Complete your purchase</h2>

<p>
</p>
</section>

{% endblock %}


{% block sidebar %}

{{ include("bonusPoints/sidebar.twig") }}

{% endblock %}
