{% extends "base.twig" %}


{% block content %}

<section>
{% if errorMessage %}
<h2>An error occurred</h2>

<div class="alert error">
{{ errorMessage }}
</div>
{% else %}
<h2>Thank you</h2>

<p>
    Your purchase of {{ item }} is complete!
    todo: add some extra info based on the item
</p>
{% endif %}

<p>
    <a class="button button-primary" href="/store">back to the storefront</a>
</p>
</section>

{% endblock %}


{% block sidebar %}

{{ include("bonusPoints/sidebar.twig") }}

{% endblock %}
